.elevation-z-0 {
  -fx-effect: dropshadow(gaussian, #000000, 1, 0, 1, 1.7);
}
.elevation-z-1 {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
}
.elevation-z-1-top {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 1);
}
.elevation-z-2 {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.23), 8, 0.2, 0, 6);
}
.elevation-z-2-top {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.23), 8, 0.2, 0, 1);
}
.elevation-z-3 {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0, 10);
}
.elevation-z-3-top {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0, 1);
}
.elevation-z-4 {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.28), 15, 0.1, 0, 15);
}
.elevation-z-4-top {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.28), 15, 0.1, 0, 1);
}
.elevation-z-5 {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.28), 15, 0.1, 0, 15);
}
.elevation-z-5-top {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.28), 15, 0.1, 0, 1);
}
.button,
.toggle-button {
  -fx-min-width: 88px;
  -fx-min-height: 36px;
  -fx-max-height: 36px;
  -fx-background-radius: 2px;
  -fx-background-insets: 0;
  -fx-background-color: transparent;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-padding: 0 16px 0 16px;
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;
  -fx-graphic-text-gap: 8px;
  -fx-font-size: 18px;
}
.button:hover,
.toggle-button:hover {
  -fx-background-color: transparent;
}
.button:focused,
.toggle-button:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
  -fx-background-insets: 0;
  -fx-background-radius: 2px;
}
.button:armed,
.toggle-button:armed,
.button:selected,
.toggle-button:selected {
  -fx-background-color: rgba(153, 153, 153, 0.4);
}
.button:armed .glyph-icon,
.toggle-button:armed .glyph-icon,
.button:selected .glyph-icon,
.toggle-button:selected .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.button:disabled,
.toggle-button:disabled {
  -fx-opacity: 1;
  -fx-font-fill: rgba(0, 0, 0, 0.26);
}
.button:disabled .text,
.toggle-button:disabled .text {
  -fx-opacity: 1;
  -fx-font-fill: rgba(0, 0, 0, 0.26);
  -fx-fill: rgba(0, 0, 0, 0.26);
}
.button:disabled .glyph-icon,
.toggle-button:disabled .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.26);
}
.button .text,
.toggle-button .text {
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}
.button .glyph-icon,
.toggle-button .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.button.blue,
.toggle-button.blue {
  -fx-text-fill: #42A5F5;
}
.button.blue .glyph-icon,
.toggle-button.blue .glyph-icon {
  -fx-fill: #42A5F5;
}
.button.blue:focused,
.toggle-button.blue:focused {
  -fx-background-color: rgba(66, 165, 245, 0.12);
}
.button.blue:armed,
.toggle-button.blue:armed,
.button.blue:selected,
.toggle-button.blue:selected {
  -fx-background-color: rgba(66, 165, 245, 0.4);
}
.button.blue:armed .glyph-icon,
.toggle-button.blue:armed .glyph-icon,
.button.blue:selected .glyph-icon,
.toggle-button.blue:selected .glyph-icon {
  -fx-fill: #42A5F5;
}
.button.blue:disabled .glyph-icon,
.toggle-button.blue:disabled .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.26);
}
.button.button-raised,
.button-raised.button-raised {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-background-color: #607D8B;
}
.button.button-raised .text,
.button-raised.button-raised .text,
.button.button-raised .icon,
.button-raised.button-raised .icon,
.button.button-raised .glyph-icon,
.button-raised.button-raised .glyph-icon {
  -fx-fill: #ffffff;
}
.button.button-raised:focused,
.button-raised.button-raised:focused {
  -fx-background-color: #475c67;
}
.button.button-raised:armed,
.button-raised.button-raised:armed {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.23), 8, 0.2, 0, 6);
  -fx-background-color: #455A64;
}
.button.button-raised:disabled,
.button-raised.button-raised:disabled {
  -fx-background-color: rgba(255, 255, 255, 0.06);
  -fx-effect: null;
}
.button.button-raised:disabled .text,
.button-raised.button-raised:disabled .text,
.button.button-raised:disabled .icon,
.button-raised.button-raised:disabled .icon,
.button.button-raised:disabled .glyph-icon,
.button-raised.button-raised:disabled .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.38);
}
.button.button-small,
.button-raised.button-small {
  -fx-min-width: 36px;
}
.button.dense,
.button-raised.dense {
  -fx-min-width: 88px;
  -fx-min-height: 32px;
  -fx-max-height: 32px;
}
.button.dense .text,
.button-raised.dense .text {
  -fx-font-size: 13px;
}
.game-board .button.button-game-board {
  -fx-max-height: infinity;
  -fx-max-width: infinity;
  -fx-min-width: 0;
}
.game-board .label {
  -fx-max-height: infinity;
  -fx-max-width: infinity;
  -fx-alignment: center;
  -fx-min-width: 20;
}
.menu-button {
  -fx-min-width: 88px;
  -fx-min-height: 36px;
  -fx-max-height: 36px;
  -fx-background-radius: 2px;
  -fx-background-insets: 0;
  -fx-background-color: transparent;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-padding: 0 16px 0 16px;
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;
  -fx-graphic-text-gap: 8px;
  -fx-font-size: 18px;
  -fx-padding: 0 16 0 16;
}
.menu-button:hover {
  -fx-background-color: transparent;
}
.menu-button:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
  -fx-background-insets: 0;
  -fx-background-radius: 2px;
}
.menu-button:armed,
.menu-button:selected {
  -fx-background-color: rgba(153, 153, 153, 0.4);
}
.menu-button:armed .glyph-icon,
.menu-button:selected .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.menu-button:disabled {
  -fx-opacity: 1;
  -fx-font-fill: rgba(0, 0, 0, 0.26);
}
.menu-button:disabled .text {
  -fx-opacity: 1;
  -fx-font-fill: rgba(0, 0, 0, 0.26);
  -fx-fill: rgba(0, 0, 0, 0.26);
}
.menu-button:disabled .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.26);
}
.menu-button .text {
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}
.menu-button .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.menu-button.blue {
  -fx-text-fill: #42A5F5;
}
.menu-button.blue .glyph-icon {
  -fx-fill: #42A5F5;
}
.menu-button.blue:focused {
  -fx-background-color: rgba(66, 165, 245, 0.12);
}
.menu-button.blue:armed,
.menu-button.blue:selected {
  -fx-background-color: rgba(66, 165, 245, 0.4);
}
.menu-button.blue:armed .glyph-icon,
.menu-button.blue:selected .glyph-icon {
  -fx-fill: #42A5F5;
}
.menu-button.blue:disabled .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.26);
}
.menu-button.button-raised {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-background-color: #607D8B;
}
.menu-button.button-raised .text,
.menu-button.button-raised .icon,
.menu-button.button-raised .glyph-icon {
  -fx-fill: #ffffff;
}
.menu-button.button-raised:focused {
  -fx-background-color: #475c67;
}
.menu-button.button-raised:armed {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.23), 8, 0.2, 0, 6);
  -fx-background-color: #455A64;
}
.menu-button.button-raised:disabled {
  -fx-background-color: rgba(255, 255, 255, 0.06);
  -fx-effect: null;
}
.menu-button.button-raised:disabled .text,
.menu-button.button-raised:disabled .icon,
.menu-button.button-raised:disabled .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.38);
}
.menu-button.button-small {
  -fx-min-width: 36px;
}
.menu-button.dense {
  -fx-min-width: 88px;
  -fx-min-height: 32px;
  -fx-max-height: 32px;
}
.menu-button.dense .text {
  -fx-font-size: 13px;
}
.menu-button .button-raised {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-background-color: #607D8B;
}
.menu-button .button-raised .text,
.menu-button .button-raised .icon,
.menu-button .button-raised .glyph-icon {
  -fx-fill: #ffffff;
}
.menu-button .button-raised:focused {
  -fx-background-color: #475c67;
}
.menu-button .button-raised:armed {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.23), 8, 0.2, 0, 6);
  -fx-background-color: #455A64;
}
.menu-button .button-raised:disabled {
  -fx-background-color: rgba(255, 255, 255, 0.06);
  -fx-effect: null;
}
.menu-button .button-raised:disabled .text,
.menu-button .button-raised:disabled .icon,
.menu-button .button-raised:disabled .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.38);
}
.menu-button .label {
  -fx-padding: 0 8 0 0;
}
.menu-button .arrow-button {
  -fx-padding: 0;
}
.menu-button:openhorizontally > .arrow-button > .arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-background-insets: 0;
  -fx-padding: 2 4 2 4;
  -fx-shape: "M10,17L15,12L10,7V17Z";
}
.menu-button:openvertically > .arrow-button > .arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-background-insets: 0;
  -fx-padding: 2 4 2 4;
  -fx-shape: "M7,10L12,15L17,10H7Z";
}
.split-menu-button > .arrow-button > .arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-background-insets: 0 0 -1 0, 0;
  -fx-padding: .25em;
  -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}
.split-pane {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
}
.split-pane:focused {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-background-radius: 0;
}
.split-pane > .split-pane-divider {
  -fx-border-insets: 0;
  -fx-background-color: transparent;
}
.split-pane > .split-pane-divider:pressed {
  -fx-background-color: #FFAB40;
}
.split-pane:horizontal > .split-pane-divider {
  -fx-background-insets: 0 8 0 8;
  -fx-padding: 1 9 1 9;
}
.split-pane:vertical > .split-pane-divider {
  -fx-background-insets: 8 0 8 0;
  -fx-padding: 1 9 1 9;
}
.radio-button {
  -fx-label-padding: 0 0 0 4;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-font-weight: normal;
  -fx-background-color: transparent;
  -fx-padding: 0;
}
.radio-button > .radio {
  -fx-background-color: transparent;
  -fx-padding: 8;
  -fx-background-insets: 0;
  -fx-background-radius: 40;
}
.radio-button > .radio > .dot {
  -fx-background-color: rgba(0, 0, 0, 0.54);
  -fx-background-radius: 0;
  -fx-padding: 10;
  -fx-shape: "M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z";
  -fx-scale-shape: true;
}
.radio-button:focused > .radio > .dot,
.radio-button:selected > .radio > .dot {
  -fx-background-insets: 0;
  -fx-shape: "M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7Z";
}
.radio-button:focused .radio {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.radio-button:focused:selected .radio {
  -fx-background-color: rgba(255, 171, 64, 0.12);
}
.radio-button:selected > .radio > .dot {
  -fx-background-color: #FFAB40;
}
.radio-button:disabled {
  -fx-opacity: 1;
  -fx-text-fill: rgba(0, 0, 0, 0.38);
}
.radio-button:disabled > .radio > .dot {
  -fx-background-color: rgba(0, 0, 0, 0.26);
}
.check-box {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-font-weight: normal;
  -fx-label-padding: 0 0 0 4;
}
.check-box .box {
  -fx-background-color: transparent;
  -fx-padding: 8;
  -fx-background-insets: 0;
  -fx-background-radius: 40;
}
.check-box .box .mark {
  -fx-background-insets: 0;
  -fx-padding: 10;
  -fx-background-color: rgba(0, 0, 0, 0.54);
  -fx-shape: "M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z";
}
.check-box:indeterminate .box {
  -fx-background-insets: 0;
}
.check-box:indeterminate .box .mark {
  -fx-background-insets: 0;
  -fx-padding: 10;
  -fx-scale-shape: true;
  -fx-shape: "M17 13H7v-2h10v2zm2-10H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5c0-1.11-.9-2-2-2m0 2v14H5V5h14z";
}
.check-box:selected .box .mark {
  -fx-background-color: #FFAB40;
  -fx-shape: "M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z";
}
.check-box:focused .box {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.check-box:focused:selected .box {
  -fx-background-color: rgba(255, 171, 64, 0.12);
}
.check-box:disabled {
  -fx-opacity: 1;
  -fx-text-fill: rgba(0, 0, 0, 0.38);
}
.check-box:disabled .box .mark {
  -fx-background-color: rgba(0, 0, 0, 0.26);
}
.tree-view {
  -fx-background-color: transparent;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-padding: 8 0 8 0;
  -fx-font-size: 18px;
  -fx-indent: 0;
}
.tree-view:focused {
  -fx-background-insets: 0;
}
.tree-view .tree-cell {
  -fx-cell-size: 40px;
  -fx-background-color: transparent;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-padding: 8 16 8 16;
  -fx-graphic-text-gap: 16px;
  -fx-background-insets: 0;
  -fx-indent: 0;
}
.tree-view .tree-cell .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.tree-view .tree-cell .glyph-icon-empty {
  -fx-min-width: 18px;
  -fx-padding: 9;
}
.tree-view .tree-cell .label {
  -fx-padding: 0 0 0 16;
}
.tree-view .tree-cell .label,
.tree-view .tree-cell .text {
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-font-size: 13px;
}
.tree-view .tree-cell:selected {
  -fx-background-color: rgba(0, 0, 0, 0.4);
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.tree-view .tree-cell:selected .label {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.tree-view .tree-cell:selected .glyph-icon,
.tree-view .tree-cell:selected .icon {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.tree-view .tree-cell:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.tree-view .tree-cell .icon {
  -fx-font-size: 18px;
  -fx-min-width: 18px;
  -fx-min-height: 18px;
  -fx-max-width: 18px;
  -fx-max-height: 18px;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.tree-view .tree-cell .icon .glyph-icon {
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.tree-view .tree-disclosure-node {
  visibility: hidden;
  -fx-padding: 0;
}
.tree-view .tree-disclosure-node .arrow {
  -fx-padding: 0;
  visibility: hidden;
  -fx-shape: null;
}
.list-view {
  -fx-background-color: transparent;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-padding: 8 0 8 0;
  -fx-font-size: 18px;
}
.list-view:focused {
  -fx-background-insets: 0;
}
.list-view .list-cell {
  -fx-cell-size: 40px;
  -fx-background-color: transparent;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-padding: 8 16 8 16;
  -fx-graphic-text-gap: 16px;
  -fx-background-insets: 0;
}
.list-view .list-cell .content {
  -fx-alignment: center-left;
}
.list-view .list-cell .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.list-view .list-cell .label {
  -fx-padding: 0 0 0 16;
}
.list-view .list-cell .label,
.list-view .list-cell .text {
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-font-size: 13px;
}
.list-view .list-cell:selected {
  -fx-background-color: rgba(0, 0, 0, 0.4);
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.list-view .list-cell:selected .label {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.list-view .list-cell:selected .glyph-icon,
.list-view .list-cell:selected .icon {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.list-view .list-cell:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.list-view .list-cell .icon {
  -fx-font-size: 18px;
  -fx-min-width: 18px;
  -fx-min-height: 18px;
  -fx-max-width: 18px;
  -fx-max-height: 18px;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.list-view .list-cell .icon .glyph-icon {
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.scroll-bar .track {
  -fx-padding: 0;
  -fx-border-insets: 0;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
  -fx-padding: 0;
  -fx-background-color: transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #f5f5f5;
  -fx-background-radius: 0;
  -fx-padding: 0;
  -fx-background-insets: 2;
}
.scroll-bar:horizontal:hover .thumb,
.scroll-bar:vertical:hover .thumb,
.scroll-bar:horizontal:pressed .thumb,
.scroll-bar:vertical:pressed .thumb {
  -fx-background-color: #fff;
  -fx-background-radius: 0;
  -fx-padding: 0;
}
.scroll-bar:horizontal .track-background,
.scroll-bar:vertical .track-background {
  -fx-padding: 0;
  -fx-background-insets: 0;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-padding: 0;
  -fx-background-insets: 0;
}
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .increment-button {
  -fx-padding: 0;
  visibility: collapse;
}
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-arrow {
  -fx-padding: 0 5 0 4;
  visibility: collapse;
}
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .increment-arrow {
  -fx-padding: 5 0 4 0;
  visibility: collapse;
}
.virtual-flow .corner {
  visibility: hidden;
  -fx-background-color: transparent;
}
.context-menu {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-background-color: #fafafa;
  -fx-background-radius: 2;
  -fx-padding: 8 0 8 0;
  -fx-background-insets: 0;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.context-menu .separator {
  -fx-padding: 8 0 8 0;
}
.context-menu > .scroll-arrow {
  -fx-background-color: transparent;
  -fx-padding: 8;
}
.context-menu > .scroll-arrow:hover {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.context-menu > .scroll-arrow > .menu-up-arrow,
.context-menu > .scroll-arrow > .menu-down-arrow {
  -fx-padding: 4;
  -fx-background-color: rgba(0, 0, 0, 0.87);
}
.context-menu > .scroll-arrow {
  -fx-background-color: transparent;
}
.menu-bar,
.tool-bar {
  -fx-alignment: center-left;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.tool-bar {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-min-height: 48px;
  -fx-background-color: #fafafa;
  -fx-padding: 0 24 0 8;
}
.tool-bar .container {
  -fx-background-insets: 0;
  -fx-alignment: center-left;
}
.tool-bar .container .button,
.tool-bar .container .toggle-button {
  -fx-font-size: 18px;
  -fx-min-width: 36px;
}
.tool-bar .container .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.tool-bar .tool-bar-overflow-button {
  -fx-effect: null;
  -fx-padding: 18;
  -fx-background-color: #fafafa;
}
.tool-bar .tool-bar-overflow-button:armed {
  -fx-background-color: rgba(153, 153, 153, 0.4);
}
.tool-bar .tool-bar-overflow-button:hover {
  -fx-background-color: rgba(153, 153, 153, 0.4);
  -fx-background-radius: 2;
}
.tool-bar .tool-bar-overflow-button:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
  -fx-background-radius: 2;
}
.tool-bar .tool-bar-overflow-button > .arrow {
  -fx-effect: null;
  -fx-padding: 10px;
  -fx-background-color: rgba(0, 0, 0, 0.54);
  -fx-background-insets: 4;
  -fx-shape: "M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z";
  -fx-scale-shape: true;
  -fx-border-width: 1;
  -fx-border-color: transparent;
  -fx-border-insets: -8;
}
.tool-bar .separator:vertical {
  -fx-padding: 4 4 4 4;
  -fx-min-height: 36px;
  -fx-max-height: 36px;
}
.menu-bar {
  -fx-background-color: #607D8B;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: rgba(12, 12, 12, 0.12);
}
.menu-bar .menu-button {
  -fx-min-width: -1;
  -fx-font-weight: normal;
}
.menu-bar .menu-button .text {
  -fx-font-weight: normal;
}
.menu-bar .menu-button:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.menu-bar .menu-button:hover,
.menu-bar .menu-button:showing {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.menu-bar .menu-button.menu {
  -fx-padding: 0 16 0 16;
  -fx-min-height: 40px;
  -fx-max-height: 40px;
}
.menu-bar .menu-button.menu > .label {
  -fx-padding: 0;
  -fx-font-size: 13px;
  -fx-text-fill: #ffffff;
}
.menu-bar .menu-button.menu .arrow-button .arrow {
  -fx-padding: 0;
}
.menu {
  -fx-background-color: transparent;
}
.menu:show-mnemonics > .mnemonic-underline {
  -fx-stroke: -fx-text-fill;
}
.menu :focused > .right-container > .arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
}
.menu .right-container {
  -fx-background-color: transparent;
}
.menu .right-container .arrow {
  -fx-opacity: 1;
  -fx-padding: .458em .167em .458em .167em;
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-shape: "M0,-4L4,0L0,4Z";
  -fx-scale-shape: false;
}
.menu-up-arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-padding: 8 5 0 5;
  -fx-shape: "M0 1 L1 1 L.5 0 Z";
  -fx-effect: null;
}
.menu-down-arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-padding: 8 5 0 5;
  -fx-shape: "M0 0 L1 0 L.5 1 Z";
  -fx-effect: null;
}
.menu-item {
  -fx-background-color: transparent;
  -fx-min-height: 40px;
  -fx-max-height: 40px;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-background-insets: 0;
  -fx-padding: 8 16 8 16;
}
.menu-item .label {
  -fx-padding: 0 16 0 8;
}
.menu-item .left-container {
  -fx-padding: 0 24 0 16;
}
.menu-item > .graphic-container {
  -fx-padding: 0 16 0 0;
}
.menu-item > .graphic-container {
  -fx-font-size: 18px;
}
.menu-item > .label {
  -fx-padding: 0 16 0 0;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.menu-item:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
  -fx-text-fill: -fx-text-background-color;
}
.menu-item:focused > .label {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.menu-item > .right-container {
  -fx-padding: 0 0 0 16;
}
.menu-item:show-mnemonics > .mnemonic-underline {
  -fx-stroke: -fx-text-fill;
}
.menu-item .glyph-icon {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.radio-menu-item:checked > .left-container {
  -fx-max-height: 18px;
  -fx-max-width: 18px;
}
.radio-menu-item:checked > .left-container > .radio {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z";
  -fx-scale-shape: false;
}
.check-menu-item:checked > .left-container {
  -fx-max-height: 18px;
  -fx-max-width: 18px;
}
.check-menu-item:checked > .left-container > .check {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z";
  -fx-scale-shape: false;
}
.separator:horizontal .line,
.separator:vertical .line {
  -fx-border-insets: 0;
  -fx-border-color: rgba(12, 12, 12, 0.12);
}
.separator:horizontal {
  -fx-padding: 16 0 16 0;
}
.separator:horizontal .line {
  -fx-border-width: 1 0 0 0;
}
.separator:vertical {
  -fx-padding: 0 16 0 16;
}
.separator:vertical .line {
  -fx-border-width: 0 1 0 0;
}
.progress-bar {
  -fx-indeterminate-bar-length: 150;
  -fx-indeterminate-bar-escape: true;
  -fx-indeterminate-bar-flip: false;
  -fx-indeterminate-bar-animation-time: .8;
}
.progress-bar > .bar,
.progress-bar:indeterminate .bar {
  -fx-padding: 0;
  -fx-background-radius: 0;
  -fx-background-color: #FFAB40;
  -fx-background-insets: 0;
  -fx-padding: 2px;
}
.progress-bar .track {
  -fx-background-color: rgba(0, 0, 0, 0.4);
}
.progress-indicator {
  -fx-pref-height: 70;
  -fx-pref-width: 70;
}
.progress-indicator:indeterminate .segment {
  -fx-background-color: #FFAB40;
}
.progress-indicator:indeterminate .spinner {
  -fx-padding: 16;
}
.progress-indicator .determinate-indicator {
  -fx-padding: 12;
}
.progress-indicator .determinate-indicator .indicator {
  -fx-background-color: rgba(0, 0, 0, 0.4);
}
.progress-indicator .determinate-indicator .progress {
  -fx-background-color: #FFAB40;
}
.progress-indicator .determinate-indicator .text,
.progress-indicator .determinate-indicator .percentage {
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.progress-indicator .determinate-indicator .tick {
  -fx-shape: "M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z";
  -fx-padding: 18;
  -fx-border-insets: 6;
  -fx-background-insets: 6;
}
.text {
  -fx-font-smoothing-type: gray;
}
.text-area,
.text-field {
  -fx-border-insets: 0 0 2 0;
  -fx-background-color: transparent;
  -fx-background-radius: 2.0;
  -fx-padding: 8 0 6 0;
  -fx-border-color: rgba(12, 12, 12, 0.12);
  -fx-border-width: 0 0 2 0;
  -fx-font-weight: normal;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-prompt-text-fill: rgba(0, 0, 0, 0.38);
  -fx-highlight-fill: #FFAB40;
  -fx-highlight-text-fill: #ffffff;
}
.text-area:focused,
.text-field:focused {
  -fx-border-color: #FFAB40;
}
.text-area .text,
.text-field > * > .text {
  -fx-effect: null;
}
.text-area {
  -fx-padding: 8;
}
.text-area .scroll-pane {
  -fx-background-color: transparent;
}
.text-area .viewport {
  -fx-background-color: transparent;
}
.text-area .content {
  -fx-padding: 8;
  -fx-border-width: .0;
  -fx-background-color: transparent;
}
.text-area:focused .content {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
}
.tab-pane {
  -fx-tab-min-height: 40px;
  -fx-tab-max-height: 40px;
  -fx-padding: 0;
}
.tab-pane > .tab-header-area {
  -fx-background-color: #607D8B;
  -fx-padding: 0;
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
}
.tab-pane > .tab-header-area .menu-item {
  -fx-font-weight: normal;
}
.tab-pane > .tab-header-area > .tab-header-background {
  -fx-background-color: #607D8B;
  -fx-padding: 0;
}
.tab-pane > .tab-header-area > .headers-region {
  -fx-padding: 0;
}
.tab-pane > .tab-header-area > .headers-region:drag-over {
  -fx-border-width: 0 2 0 0;
  -fx-border-color: #FFAB40;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
  -fx-background-color: transparent;
  -fx-padding: 0 8 0 16;
  -fx-background-radius: 0;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
  -fx-padding: 0 8 -2 16;
  -fx-background-radius: 0;
  -fx-border-color: #FFAB40;
  -fx-border-width: 0 0 2 0;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
  -fx-text-fill: #ffffff;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-close-button {
  -fx-background-color: #ffffff;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-background-color: rgba(0, 0, 0, 0.1);
  -fx-background-insets: -14 -16 -12 -16;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected:drag-over {
  -fx-border-width: 0 0 2 2;
  -fx-padding: 0 8 -2 14;
}
.tab-pane > .tab-header-area > .headers-region > .tab:drag-over {
  -fx-border-width: 0 0 0 2;
  -fx-border-color: #FFAB40;
  -fx-padding: 0 8 0 14;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
  -fx-background-color: rgba(255, 255, 255, 0.8);
  -fx-background-insets: 4;
  -fx-shape: "M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z";
  -fx-scale-shape: true;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: rgba(255, 255, 255, 0.8);
  -fx-padding: 0 8 0 0;
}
.tab-pane > .tab-header-area > .control-buttons-tab {
  /*-fx-padding: 0 8 0 0;*/
}
.tab-pane > .tab-header-area > .control-buttons-tab > .container {
  -fx-padding: 0;
}
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-background-insets: 0 16 0 0;
  -fx-padding: 24 8 24 8;
  -fx-background-insets: 0;
  -fx-min-width: 48;
  -fx-pref-height: 48;
}
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
  -fx-background-color: transparent;
}
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover > .arrow {
  -fx-background-color: #ffffff;
}
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:pressed {
  -fx-background-color: rgba(153, 153, 153, 0.4);
}
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow {
  -fx-background-color: rgba(255, 255, 255, 0.8);
  -fx-background-insets: 0;
  -fx-padding: 2 4 2 4;
  -fx-shape: "M7,10L12,15L17,10H7Z";
}
.tab-pane > .tab-content-area {
  -fx-background-color: #fafafa;
}
.tab-pane > .tab-content-area > * {
  -fx-background-color: #fafafa;
}
.slider {
  -fx-padding: 0;
  -fx-background-insets: 0;
}
.slider:vertical {
  -fx-padding: 0;
}
.slider:pressed > .track {
  -fx-background-color: #FFD180;
}
.slider > .track {
  -fx-background-color: rgba(0, 0, 0, 0.4);
  -fx-background-insets: 2 0;
  -fx-padding: 4 0 4 0;
}
.slider > .thumb {
  -fx-background-color: #FFAB40;
}
.slider > .thumb:pressed {
  -fx-background-color: #FFAB40;
  -fx-scale-column: 1.5;
  -fx-scale-row: 1.5;
}
.slider:pressed .thumb {
  -fx-scale-column: 1.5;
  -fx-scale-row: 1.5;
}
.combo-box {
  -fx-background-color: transparent;
  -fx-border-color: rgba(12, 12, 12, 0.12);
  -fx-border-width: 0 0 2 0;
  -fx-background-radius: 2;
  -fx-border-radius: 0;
  -fx-min-height: 36px;
  -fx-max-height: 36px;
}
.combo-box:focused {
  -fx-border-color: #FFAB40;
}
.combo-box:focused > .list-cell {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.combo-box:showing {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 1);
}
.combo-box > .list-cell {
  -fx-background: transparent;
  -fx-background-color: transparent;
  -fx-text-fill: rgba(0, 0, 0, 0.38);
  -fx-padding: 0 16 0 16;
}
.combo-box > .list-cell:focused {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.combo-box-base:focused > .arrow-button > .arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-background-insets: 0;
}
.combo-box-base > .arrow-button {
  -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
  -fx-padding: .5em .667em .5em .833333em;
  -fx-background-color: transparent;
}
.combo-box-base > .arrow-button > .arrow {
  -fx-background-color: rgba(0, 0, 0, 0.38);
  -fx-background-insets: 0;
}
/*******************************************************************************
 *                                                                             *
 * Editable ComboBox                                                           *
 *                                                                             *
 * The editable ComboBox TextBox inherits its properties from the TextBox      *
 * Control. Only the properties with values that are different from the        *
 * TextBox are specified here.                                                 *
 *                                                                             *
 ******************************************************************************/
/* -------------- STYLES FOR THE DEFAULT LISTVIEW-BASED COMBOBOX ------------- */
.combo-box-popup {
  -fx-effect: 0;
  -fx-padding: 0;
}
.combo-box-popup > .list-view {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-background-color: #fafafa;
  -fx-pref-width: -1;
  -fx-max-width: -1;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell .label,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell .text {
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-font-size: 14px;
}
.table-view {
  -fx-background-color: transparent;
  -fx-font-size: 13px;
  -fx-font-family: 'Roboto Regular';
  -fx-padding: 0;
  -fx-background-insets: 0;
  /* Header Sort Arrows */
  /* The column-resize-line is shown when the user is attempting to resize a column. */
}
.table-view .column-header-background {
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-background-insets: 0;
}
.table-view .nested-column-header {
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-background-insets: 0;
  -fx-border-color: rgba(12, 12, 12, 0.12);
  -fx-border-width: 0 0 1 0;
}
.table-view .column-header,
.table-view .filler {
  -fx-size: 48;
  -fx-border-style: null;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0 16 0 0;
}
.table-view .column-header .label,
.table-view .filler .label {
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-padding: 0 16 0 16;
  -fx-font-size: 12px;
  -fx-font-family: 'Roboto Medium';
}
.table-view .show-hide-columns-button {
  -fx-background-color: transparent;
}
.table-view .column-drag-header .label,
.table-view .column-header .label,
.table-view .filler .label {
  -fx-alignment: center-left;
}
.table-view .column-header {
  -fx-border-width: 0 1 0 0;
  -fx-border-color: rgba(12, 12, 12, 0.12);
  -fx-border-insets: 10 0 10 0;
}
.table-view .column-header:last-visible {
  -fx-border-width: 0;
}
.table-view .table-row-cell {
  -fx-cell-size: 48;
  -fx-background-color: transparent;
  -fx-border-color: rgba(12, 12, 12, 0.12);
  -fx-border-width: 0 0 1 0;
  -fx-background-insets: 0;
}
.table-view .table-row-cell:hover {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.table-view .table-row-cell:selected {
  -fx-background-color: rgba(133, 133, 133, 0.12);
}
.table-view .table-cell {
  -fx-border-color: transparent;
  -fx-border-width: 1;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-font-family: 'Roboto';
  -fx-alignment: center-left;
  -fx-padding: 0 16 0 16;
  -fx-background-insets: 0;
}
.table-view .arrow {
  -fx-background-color: rgba(0, 0, 0, 0.54);
  -fx-padding: 6;
  -fx-shape: "M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z";
}
.table-view .column-resize-line {
  -fx-background-color: #FFAB40;
  -fx-padding: 0 1 0 1;
}
.table-view.dense .column-header,
.table-view.dense .filler {
  -fx-size: 36;
  -fx-padding: 0 8 0 0;
}
.table-view.dense .column-header .label,
.table-view.dense .filler .label {
  -fx-padding: 0 8 0 8;
}
.table-view.dense .table-row-cell {
  -fx-cell-size: 36;
}
.table-view.dense .table-cell {
  -fx-padding: 0 8 0 8;
}
.table-view .show-hide-column-image,
.tree-table-view .show-hide-column-image {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-padding: 4px;
  -fx-shape: "M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z";
}
/* This is shown when the table has no rows and/or no columns. */
.table-view .empty-table,
.tree-table-view .empty-table {
  -fx-background-color: white;
  -fx-font-size: 1.166667em;
}
.table-view .column-drag-header,
.tree-table-view .column-drag-header {
  -fx-background-color: rgba(255, 171, 64, 0.4);
  -fx-border-color: transparent;
  -fx-opacity: 1;
}
.table-view .column-drag-header .label,
.tree-table-view .column-drag-header .label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
/* Semi-transparent overlay to indicate the column that is currently being moved */
.table-view .column-overlay,
.tree-table-view .column-overlay {
  -fx-background-color: rgba(255, 171, 64, 0.3);
  -fx-opacity: 1;
}
.pagination {
  -fx-padding: 0;
  -fx-arrows-visible: true;
  -fx-tooltip-visible: true;
  -fx-page-information-visible: true;
  -fx-page-information-alignment: left;
  -fx-arrow-button-gap: 4;
  -fx-padding: 0 8 0 8;
}
.pagination > .page {
  -fx-background-color: transparent;
  -fx-alignment: center-right;
}
.pagination > .pagination-control {
  -fx-background-color: transparent;
  -fx-font-size: 13;
  -fx-alignment: center-right;
}
.pagination > .pagination-control > .control-box {
  -fx-padding: 5 0 0 0;
  -fx-spacing: 0;
  -fx-alignment: center-right;
}
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
  -fx-min-width: 36px;
}
.pagination > .pagination-control > .control-box > .left-arrow-button .left-arrow:disabled,
.pagination > .pagination-control > .control-box > .right-arrow-button .left-arrow:disabled,
.pagination > .pagination-control > .control-box > .left-arrow-button .right-arrow:disabled,
.pagination > .pagination-control > .control-box > .right-arrow-button .right-arrow:disabled {
  -fx-background-color: rgba(0, 0, 0, 0.26);
  -fx-background-insets: 0;
}
.pagination > .pagination-control .left-arrow,
.pagination > .pagination-control .right-arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-background-insets: 0;
  -fx-padding: 6 4;
  -fx-scale-shape: true;
}
.pagination > .pagination-control .left-arrow {
  -fx-shape: "M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z";
}
.pagination > .pagination-control .right-arrow {
  -fx-shape: "M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z";
}
.pagination > .pagination-control > .control-box > .bullet-button {
  -fx-min-width: 36px;
}
.pagination > .pagination-control > .control-box > .bullet-button:selected {
  -fx-base: -fx-accent;
}
.pagination.bullet > .pagination-control > .control-box {
  -fx-spacing: 0;
  -fx-alignment: center-left;
}
.pagination.bullet > .pagination-control > .control-box > .left-arrow-button,
.pagination.bullet > .pagination-control > .control-box > .right-arrow-button {
  -fx-min-width: 36px;
}
.pagination.bullet > .pagination-control > .control-box > .left-arrow-button:disabled,
.pagination.bullet > .pagination-control > .control-box > .right-arrow-button:disabled {
  -fx-background-color: rgba(0, 0, 0, 0.26);
}
.pagination > .pagination-control > .control-box > .number-button {
  -fx-min-width: 36px;
  -fx-min-width: 0;
  -fx-max-width: 0;
  -fx-padding: 0;
  -fx-background-insets: 0;
}
.pagination > .pagination-control > .control-box > .number-button .text {
  -fx-padding: 0;
  visibility: hidden;
}
.pagination > .pagination-control > .control-box > .number-button:selected {
  -fx-base: -fx-accent;
}
.pagination > .pagination-control > .page-information {
  -fx-font-size: 13px;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-alignment: center-left;
}
.date-picker-popup {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.23), 8, 0.2, 0, 6);
  -fx-min-width: 300px;
  -fx-max-width: 300px;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-background-color: #fafafa;
  -fx-background-insets: 0;
  -fx-background-radius: 2;
  -fx-alignment: CENTER;
  -fx-spacing: 0;
  -fx-padding: 0;
}
.date-picker-popup > .month-year-pane {
  -fx-padding: 8;
  -fx-background-color: #fff;
  -fx-background-insets: 0;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-min-width: 300px;
  -fx-max-width: 300px;
  -fx-spacing: 0;
  -fx-alignment: CENTER;
}
.date-picker-popup > * > .spinner {
  -fx-min-width: 134px;
  -fx-max-width: 134px;
  -fx-spacing: 8;
  -fx-alignment: CENTER;
  -fx-fill-height: false;
  -fx-background-color: transparent;
  -fx-font-family: 'Roboto Medium';
  -fx-font-size: 14px;
  -fx-padding: 0;
}
.date-picker-popup > * > .spinner > .button {
  -fx-background-color: transparent;
  -fx-background-insets: 2;
  -fx-background-radius: 2;
  -fx-min-width: 36px;
  -fx-max-width: 36px;
}
.date-picker-popup > * > .spinner > .button:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
}
.date-picker-popup > * > .spinner > .button:hover {
  -fx-color: -fx-hover-base;
}
.date-picker-popup > * > .spinner > .button:hover > .right-arrow,
.date-picker-popup > * > .spinner > .button:hover > .left-arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
}
.date-picker-popup > * > .spinner > .button:armed {
  -fx-background-color: rgba(153, 153, 153, 0.4);
}
.date-picker-popup > * > .spinner > .button:pressed {
  -fx-background-color: rgba(153, 153, 153, 0.4);
}
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
}
.date-picker-popup > * > .spinner > .button > .right-arrow,
.date-picker-popup > * > .spinner > .button > .left-arrow {
  -fx-background-color: rgba(0, 0, 0, 0.87);
  -fx-background-insets: 0;
  -fx-padding: 7 4 7 4;
  -fx-effect: null;
  -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .button > .left-arrow {
  -fx-shape: "M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z";
}
.date-picker-popup > * > .spinner > .button > .right-arrow {
  -fx-shape: "M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z";
}
.date-picker-popup > * > .spinner > .button > .label {
  -fx-alignment: CENTER;
}
.date-picker-popup > .month-year-pane > .secondary-label {
  -fx-alignment: BASELINE_CENTER;
  -fx-padding: 6 0 0 0;
  -fx-text-fill: #f3622d;
}
.date-picker-popup > .calendar-grid {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 16;
  -fx-spacing: 0;
}
.date-picker-popup > * .date-cell {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-alignment: BASELINE_CENTER;
  -fx-opacity: 1.0;
  -fx-min-width: 40px;
  -fx-min-height: 40px;
  -fx-max-width: 40px;
  -fx-max-height: 40px;
}
.date-picker-popup > * .day-name-cell,
.date-picker-popup > * .week-number-cell {
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.date-picker-popup > * .week-number-cell {
  -fx-padding: 8;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-background-color: transparent;
}
.date-picker-popup > * .day-cell {
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-font-size: 13px;
  -fx-background-color: transparent;
  -fx-background-insets: 1;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.date-picker-popup > * .day-cell > .secondary-text {
  -fx-fill: #f3622d;
}
.date-picker-popup > * .day-cell:hover {
  -fx-background-color: #FFD180;
  -fx-background-radius: 40;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
}
.date-picker-popup > * .day-cell:focused {
  -fx-background-color: #FFAB40;
  -fx-background-radius: 40;
}
.date-picker-popup > * .hijrah-day-cell {
  -fx-alignment: TOP_LEFT;
}
.date-picker-popup > * .today {
  -fx-background-color: transparent;
  -fx-text-fill: #FFAB40;
}
.date-picker-popup > * .today:hover {
  -fx-background-color: #FFD180;
  -fx-background-radius: 40;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.date-picker-popup > * .today.selected {
  -fx-background-color: #FFAB40;
  -fx-background-radius: 40;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.date-picker-popup > * .today:focused {
  -fx-background-color: #FFAB40;
  -fx-background-radius: 40;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .day-cell:focused:hover {
  -fx-background-color: #FFAB40;
  -fx-background-radius: 40;
}
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
  -fx-max-height: 0 !important;
  -fx-cell-size: 0 !important;
  -fx-font-size: 0;
  visibility: hidden;
  -fx-min-height: 0;
  -fx-max-height: 0;
}
.date-picker-popup > * > .next-month > .secondary-text,
.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .selected > .secondary-text,
.date-picker-popup > * > .day-cell:hover > .secondary-text {
  /*-fx-fill: -fx-text-background-color;*/
}
.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
  -fx-background-color: derive(-fx-control-inner-background, -4%), derive(-fx-selection-bar-non-focused, -20%), derive(-fx-control-inner-background, -4%);
}
.date-picker-popup > * > .previous-month.today:hover,
.date-picker-popup > * > .next-month.today:hover {
  -fx-background-color: -fx-selection-bar-non-focused, derive(-fx-selection-bar-non-focused, -20%), -fx-selection-bar-non-focused;
}
.date-picker {
  -fx-show-week-numbers: false;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: rgba(12, 12, 12, 0.12);
}
.date-picker > .text-field {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0;
  -fx-border-insets: 0;
}
.date-picker > .text-field:focused {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0;
}
.date-picker > .arrow-button {
  -fx-padding: 10;
}
.date-picker > .arrow-button > .arrow {
  -fx-shape: "M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z";
  -fx-background-color: rgba(0, 0, 0, 0.54);
  -fx-background-insets: 0;
  -fx-padding: 8;
  -fx-scale-shape: true;
  -fx-background-radius: 2;
}
.date-picker > .arrow-button:pressed {
  -fx-background-color: rgba(153, 153, 153, 0.4);
  -fx-background-radius: 2;
}
.date-picker > .arrow-button:focused {
  -fx-background-color: rgba(0, 0, 0, 0.12);
  -fx-background-radius: 2;
}
.date-picker:focused {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: #FFAB40;
}
.date-picker:focused .arrow-button {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 2;
}
.card {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-background-color: #fff;
  -fx-background-radius: 2px;
}
.card .card-title {
  -fx-background-color: #f5f5f5;
  -fx-font-size: 13px;
  -fx-padding: 20 16 16 16;
}
.card .card-title .label {
  -fx-alignment: center-left;
}
.card .card-title .text {
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.card .card-subtitle {
  -fx-font-size: 14px;
  -fx-padding: 5 0 5 0;
}
.card .card-subtitle .text {
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.card .separator:horizontal {
  -fx-padding: 0;
}
.card .card-container {
  -fx-padding: 16;
  -fx-spacing: 16;
}
.card .card-container .label {
  -fx-font-size: 12px;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
}
.card .card-button-bar {
  -fx-padding: 8;
  -fx-spacing: 8;
  -fx-alignment: center-right;
}
.card .tool-bar {
  -fx-background-color: #fff;
  -fx-padding: 0 8 0 8;
}
.card .combo-box:focused {
  -fx-background-color: #fff;
}
.card .combo-box-popup > .list-view {
  -fx-background-color: #fff;
}
.card .card-header {
  -fx-padding: 12;
  -fx-min-height: 60;
  -fx-alignment: CENTER;
}
.card .card-header .card-header-title-container {
  -fx-alignment: CENTER_LEFT;
}
.card .card-header .label {
  -fx-font-size: 16;
  -fx-font-family: 'Roboto Black';
}
.card .card-header .card-header-tool-container {
  -fx-alignment: CENTER_RIGHT;
  -fx-spacing: 12;
}
.card .card-header .card-header-tool {
  -fx-min-width: 35;
  -fx-max-width: 35;
  -fx-min-height: 35;
  -fx-max-height: 35;
  -fx-alignment: CENTER;
  -fx-background-radius: 100;
  -fx-cursor: hand;
}
.card .card-header .card-header-tool:hover {
  -fx-background-color: #b3b3b3;
}
.card .card-header .card-header-tool:pressed {
  -fx-background-color: #546E7A;
}
.card .card-header .card-header-tool .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.87);
}
.drawer {
  -fx-background-color: #607D8B;
}
.drawer .label {
  -fx-font-size: 13px;
  -fx-text-fill: #ffffff;
}
.drawer .user-profile {
  -fx-padding: 16 8 16 8;
}
.drawer .user-profile .image {
  -fx-min-width: 48px;
  -fx-min-height: 48px;
  -fx-max-width: 48px;
  -fx-max-height: 48px;
  -fx-background-color: #fff;
  -fx-background-radius: 48;
  -fx-border-radius: 48px;
}
.drawer .user-profile .email,
.drawer .user-profile .full-name {
  -fx-padding: 0 8 0 8;
  -fx-text-fill: #ffffff;
}
.drawer .user-profile .email {
  -fx-font-size: 12px;
}
.drawer .version-box {
  -fx-padding: 0 16 16 16;
  -fx-alignment: center-left;
  -fx-spacing: 4;
}
.drawer .sidebar .list-view .text,
.drawer .sidebar .list-view .glyph-icon,
.drawer .sidebar .list-view .icon {
  -fx-fill: #ffffff;
}
.drawer .sidebar .list-view .list-cell:selected {
  -fx-border-width: 0 0 0 4;
  -fx-border-color: #FFAB40;
  -fx-padding: 8 16 8 12;
}
.drawer .sidebar .list-view .list-cell:selected .label {
  -fx-text-fill: #ffffff;
}
.drawer .sidebar .list-view .list-cell:selected .glyph-icon,
.drawer .sidebar .list-view .list-cell:selected .text,
.drawer .sidebar .list-view .list-cell:selected .icon {
  -fx-text-fill: #ffffff;
  -fx-fill: #ffffff;
}
.panel {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-insets: 0;
  -fx-border-radius: 0;
  -fx-padding: 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 0, 3);
  -fx-background-color: #fff;
}
.panel .panel-header {
  -fx-font-size: 20;
  -fx-font-family: 'Roboto Medium';
  -fx-padding: 16 16 16 16;
  -fx-background-color: #607D8B;
}
.panel .panel-header .panel-title .label {
  -fx-font-size: 20;
}
.panel .panel-header .panel-title .text,
.panel .panel-header .glyph-icon {
  -fx-fill: white;
}
.panel .panel-header .panel-header-seperator {
  -fx-hgrow: ALWAYS;
}
.panel .panel-header .panel-header-toolkit {
  -fx-spacing: 16;
}
.panel .panel-header .glyph-icon {
  -glyph-size: 22 !important;
  -fx-translate-row: 4;
}
.panel .panel-body {
  -fx-padding: 10 10 10 10;
}
.badge {
  -fx-padding: 13;
  -fx-border-insets: 7;
  -fx-background-insets: 7;
  -fx-font-size: 12;
  -fx-text-fill: white !important;
  -fx-background-color: #616161;
}
.badge .text {
  -fx-fill: white !important;
}
.badge.warning {
  -fx-background-color: #B71C1C;
}
.badge.info {
  -fx-background-color: #3F51B5;
}
.chips {
  -fx-hgap: 2;
  -fx-vgap: 2;
}
.chip {
  -fx-padding: 0 0 0 12;
  -fx-min-height: 32;
  -fx-max-height: 32;
  -fx-alignment: center-left;
  -fx-background-radius: 20;
  -fx-background-color: #d7d7d7;
  -fx-cursor: hand;
  -fx-font-size: 10px;
}
.chip .image-view {
  -fx-max-height: 32 !important;
  -fx-border-color: red;
  -fx-border-width: 0;
}
.chip .text {
  -fx-padding: 0 0 0 0;
  -fx-font-size: 13px;
  -fx-text-fill: rgba(0, 0, 0, 0.86);
}
.chip .icon-box {
  -fx-padding: 0;
}
.chip .icon-box .close-icon.glyph-icon {
  -fx-fill: #717171;
  -fx-font-size: 24;
}
.chip.chip-deletable {
  -fx-padding: 0 4 0 12;
}
.chip.chip-deletable .icon-box {
  -fx-padding: 0 0 0 4;
}
.chip:hover {
  -fx-background-color: #78909C;
  -fx-text-fill: #ffffff;
}
.chip:hover .icon-box .close-icon.glyph-icon {
  -fx-fill: #ffffff;
}
.filter-bar {
  -fx-max-height: 50;
  -fx-padding: 6;
  -fx-background-color: #fff;
  -fx-spacing: 12;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.23), 8, 0.2, 0, 6);
}
.filter-bar .filter-operator {
  -fx-min-width: 80;
}
.filter-bar .filter-action {
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-min-width: 35;
  -fx-max-width: 35;
  -fx-min-height: 35;
  -fx-max-height: 35;
  -fx-cursor: hand;
  -fx-background-radius: 100;
}
.filter-bar .filter-action:hover,
.filter-bar .filter-action:focused {
  -fx-effect: null;
  -fx-background-color: #b3b3b3 !important;
}
.filter-bar .filter-action:pressed,
.filter-bar .filter-action:armed {
  -fx-background-color: #546E7A !important;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0, 10);
}
.filter-bar .filter-action:pressed .glyph-icon,
.filter-bar .filter-action:armed .glyph-icon {
  -fx-fill: white;
}
.dialog-pane .header-panel {
  -fx-background-color: #fafafa;
}
.dialog-pane .graphic-container .glyph-icon {
  -fx-fill: white;
}
.welcome-view {
  -fx-background-color: #f5f5f5 !important;
}
.welcome-view .header {
  -fx-spacing: 9;
}
.welcome-view .header .label {
  -fx-font-size: 72;
  -fx-font-family: 'Roboto Thin';
}
.welcome-view .inputs {
  -fx-padding: 12 60;
  -fx-spacing: 11;
}
.welcome-view .inputs .label {
  -fx-min-width: 100;
  -fx-max-width: 100;
  -fx-min-height: 15;
  -fx-max-height: 15;
  -fx-font-size: 11;
  -fx-translate-row: 5;
  -fx-text-fill: rgba(0, 0, 0, 0.54);
}
.welcome-view .inputs .combo-box {
  -fx-min-width: 100;
  -fx-max-width: 100;
  -fx-min-height: 50;
  -fx-max-height: 50;
}
.welcome-view .inputs .combo-box > .list-cell {
  -fx-padding: 0  0 0 1;
}
.welcome-view .credentials {
  -fx-padding: 12 60 12 30 !important;
}
.welcome-view .credentials .form-group > .label {
  -fx-translate-column: 30 !important;
}
.welcome-view .credentials .field-wrapper {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-insets: 0;
  -fx-border-radius: 0;
  -fx-padding: 0;
}
.welcome-view .credentials .field-wrapper > .label {
  -fx-translate-column: 0;
  -fx-translate-row: 0;
  -fx-min-width: 30;
  -fx-max-width: 30;
  -fx-min-height: 40;
  -fx-max-height: 40;
}
.welcome-view .credentials .field-wrapper > .label .glyph-icon {
  -fx-fill: rgba(0, 0, 0, 0.54);
}
.welcome-view .call-to-action {
  -fx-padding: 22;
}
.welcome-view .call-to-action .button {
  -fx-min-width: 250;
  -fx-max-width: 250;
  -fx-min-height: 40;
  -fx-max-height: 40;
}
.welcome-view .call-to-action .button .text {
  -fx-font-size: 18 !important;
}
/*******************************************************************************
 *                                                                             *
 * Welcome View   			                                                   *
 *                                                                             *
 ******************************************************************************/
#welcome-view {
  -fx-padding: 24;
}
#welcome-view .card .card-title {
  -fx-background-color: #607D8B;
}
#welcome-view .card .card-title .text {
  -fx-fill: #ffffff;
}
/*******************************************************************************
 *                                                                             *
 * Contractors Tab View   			                                           * 
 *                                                                             *
 ******************************************************************************/
#contractors-tab-view {
  -fx-padding: 24;
}
.contractor-details .contractor-details-label {
  -fx-font-size: 12px;
  -fx-text-fill: rgba(255, 255, 255, 0.7);
}
.contractor-details .contractor-details-value {
  -fx-font-size: 13px;
}
.root {
  -fx-background-color: #fafafa;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
  -fx-font-family: 'Roboto Medium';
  -fx-font-size: 14px;
}
.root.popup {
  -fx-background-color: transparent;
}
.material-icons {
  -fx-font-family: 'Material Icons';
}
.material-design-icons {
  -fx-font-family: 'Material Design Icons';
}
.font-awesome-icons {
  -fx-font-family: 'Font Awesome';
}
.glyph-icon {
  -fx-font-family: 'Material Design Icons';
  -fx-font-size: 18px;
  -glyph-size: 18px;
}
text {
  /* This adjusts text alignment within the bounds of text nodes so that
       the text is always vertically centered within the bounds. Based on
       the cap height of the text. */
  -fx-bounds-type: logical_vertical_center;
  /* Disable LCD text rendering */
  -fx-font-smoothing-type: gray;
}
.label,
.text {
  -fx-effect: null;
  -fx-text-fill: rgba(0, 0, 0, 0.87);
}
