// out: false

.elevation-z-0 {
  -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.6), 1, 0, 1, 1.7);
}

.elevation-z-1 {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 6, 0, 0, 3);
}

.elevation-z-1-top {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 6, 0, 0, 1);
}

.elevation-z-2 {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.23), 8, 0.2, 0, 6);
}

.elevation-z-2-top {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.23), 8, 0.2, 0, 1);
}

.elevation-z-3 {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 10, .1, 0, 10);
}

.elevation-z-3-top {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 10, .1, 0, 1);
}

.elevation-z-4 {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.28), 15, .1, 0, 15);
}

.elevation-z-4-top {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.28), 15, .1, 0, 1);
}

.elevation-z-5 {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.28), 15, .1, 0, 15);
}

.elevation-z-5-top {
  -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.28), 15, .1, 0, 1);
}