// out: false

.margin(@n:number, @padd:number) {
    -fx-padding: @n + @padd;
    -fx-border-insets: @n;
    -fx-background-insets: @n; 
}
// mixin overloading not working for some wtf reason.
.margin_precise(@mtop: number, @mright: number, @mbottom: number, @mleft: number, 
    @ptop: number, @pright: number, @pbottom: number, @pleft: number) {
    -fx-padding: (@mtop + @ptop) (@mright + @pright) (@mbottom + @pbottom) (@mleft + @pleft);
    -fx-border-insets: @mtop @mright @mbottom @mleft;
    -fx-background-insets: @mtop @mright @mbottom @mleft; 
}