// out: false


.reset() {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
}
