// out: false

// utils 
@import "./utils/elevate.less";
@import "./utils/margin.less";
@import "./utils/no-rounded-borders.less";
@import "./utils/reset.less";
@import "./utils/scale.less";
@import "./utils/dims.less";

// components 
@import "./components/button.less";
@import "./components/menu-button.less";
@import "./components/split-pane.less";
@import "./components/radio-button.less";
@import "./components/check-box.less";
@import "./components/tree-view.less";
@import "./components/list-view.less";
@import "./components/scroll-bar.less";
@import "./components/context-menu.less";
@import "./components/menu-bar.less";
@import "./components/menu.less";
@import "./components/seperators.less";
@import "./components/progress.less";
@import "./components/text-area.less";
@import "./components/tab-pane.less";
@import "./components/slider.less";
@import "./components/combo-box.less";
@import "./components/table.less";
@import "./components/pagination.less";
@import "./components/date-picker.less";
@import "./components/card.less";
@import "./components/drawer-panel.less";
@import "./components/panel.less";
@import "./components/badge.less";
@import "./components/chips.less";
@import "./components/filterbar.less";
@import "./components/dialog.less";

// page specifics

@import "./views/welcome.less";

@import "./views/welcome-view.less";
@import "./views/contractor-list-tab-view.less";

@list-cell-padding-top: 8;
@list-cell-padding-right: 16;
@list-cell-padding-bottom: 8;
@list-cell-padding-left: 16;

.root {
  -fx-background-color: @background-color;
  -fx-text-fill: @text-color-primary;
  -fx-font-family: @font;
  -fx-font-size: @font-size;

  &.popup {
    -fx-background-color: transparent;
  }
}

.material-icons {
  -fx-font-family: 'Material Icons';
}

.material-design-icons {
  -fx-font-family: 'Material Design Icons';
}

.font-awesome-icons {
  -fx-font-family: 'Font Awesome';
}

.glyph-icon {
  .material-design-icons;
  -fx-font-size: 18px;
  -glyph-size: 18px;
}

text {
  /* This adjusts text alignment within the bounds of text nodes so that
       the text is always vertically centered within the bounds. Based on
       the cap height of the text. */
  -fx-bounds-type: logical_vertical_center;
  /* Disable LCD text rendering */
  -fx-font-smoothing-type: gray;
}

.label,
.text {
  -fx-effect: null;
  -fx-text-fill: @text-color-primary;
}
