// out: ../../assets/theme/dark/style.css

@focused-opacity: .12;
@hover-opacity: .12;
@pressed-opacity: .25;
@disabled-opacity: .30;

@font: 'Roboto';
@font-size: 14px;
@text-color-primary-bold: #fff;
@text-color-primary: rgba(255, 255, 255, .86);
@text-color-secondary: rgba(255, 255, 255, 0.70);
@text-color-disabled: rgba(255, 255, 255, 0.5);
@text-color-hint: @text-color-disabled;
@divider-color: rgba(255, 255, 255, 0.12);

@color-primary-50: @palette-Blue-50;
@color-primary-100: @palette-Blue-100;
@color-primary-200: @palette-Blue-200;
@color-primary-300: @palette-Blue-300;
@color-primary-400: @palette-Blue-400;
@color-primary-500: @palette-Blue-500;
@color-primary-600: @palette-Blue-600;
@color-primary-700: @palette-Blue-700;
@color-primary-800: @palette-Blue-800;
@color-primary-900: @palette-Blue-900;
@color-accent-100: @palette-Red-A100;
@color-accent-200: @palette-Red-A200;
@color-accent-400: @palette-Red-A400;
@color-accent-700: @palette-Red-A700;

@background-color-900: #212121;
@background-color-850: #303030;
@background-color-800: #424242;
@background-color: @background-color-850;
@background-hover: rgba(0, 0, 0, @hover-opacity);
@background-focused: rgba(0, 0, 0, @focused-opacity);
@background-selected: rgba(0, 0, 0, @pressed-opacity);

@button-background: transparent;
@button-background-hover: @button-background;
@button-background-pressed: rgba(204, 204, 204, @pressed-opacity);
@button-background-focused: rgba(255, 255, 255, @focused-opacity);
@button-background-disabled-text: rgba(255, 255, 255, @disabled-opacity);

@raised-button-background-color: @color-primary-500;
@raised-button-background-color-pressed: @color-primary-700;
@raised-button-background-color-focused: darken(@raised-button-background-color, 12% );
@raised-button-text-color: @palette-White-Text;
@raised-button-background-color-disabled: rgba(255, 255, 255, 0.06);
@radio-button-background-color: rgba(255, 255, 255, 1);
@radio-button-background-color-selected: @color-accent-200;
@radio-button-background-color-disabled: rgba(255, 255, 255, 0.3);
@check-box-background-color-on: @color-accent-200;
@check-box-background-color-focused: @color-accent-400;
@check-box-background-color-off: rgba(255, 255, 255, 1);
@check-box-background-color-disabled: rgba(255, 255, 255, 0.3);

@progress-bar-track-background-color: rgba(255, 255, 255, 0.1);
@progress-bar-bar-background-color: @color-accent-200;

@sidebar-background-color: @background-color-900;
@sidebar-text-color: @palette-White-Text;
@sidebar-text-active: @palette-White-Text;

@tab-background-color: @background-color-900;
@tab-background-selected-color: rgba(0, 0, 0, .1);
@tab-underline-color: @color-accent-200;
@tab-text-color: @palette-White-Text;
@tab-text-secondary-color: fade(@tab-text-color, 30%);

@table-row-hover-background-color: rgba(0, 0, 0, @hover-opacity);
@table-row-selected-background-color: rgba(0, 0, 0, @pressed-opacity);

@panel-header-background-color: @background-color-900;

@menu-bar-background-color: @background-color-900;
@menu-bar-text-color: @palette-White-Text;

@text-area-highlight-fill: @color-accent-200;
@text-area-highlight-text-fill: @palette-White-Text;

@welcome-view-card-title-background-color: @background-color-900;
@welcome-view-card-title-text-fill:  @palette-White-Text;

@button-blue-color: @palette-Blue-300;

@filterbar-background-color: @background-color-900;
@filterbar-action-bg: @background-color-850;
@filterbar-action-bg-focus: @background-color-800;
@filterbar-action-bg-pressed: @color-accent-400;

@import "../palette.less";
@import "../common.less";