// out: ../../assets/theme/light/style.css

@focused-opacity: .12;
@hover-opacity: .12;
@pressed-opacity: .40;
@disabled-opacity: .26;

@font: 'Roboto Medium';
@font-size: 14px;
@text-color-primary: rgba(0, 0, 0, 0.87);
@text-color-primary-bold: @text-color-primary;
@text-color-secondary: rgba(0, 0, 0, 0.54);
@text-color-disabled: rgba(0, 0, 0, 0.38);
@text-color-hint: @text-color-disabled;
@divider-color: rgba(12, 12, 12, 0.12);

@color-primary-50: @palette-Blue-Grey-50;
@color-primary-100: @palette-Blue-Grey-100;
@color-primary-200: @palette-Blue-Grey-200;
@color-primary-300: @palette-Blue-Grey-300;
@color-primary-400: @palette-Blue-Grey-400;
@color-primary-500: @palette-Blue-Grey-500;
@color-primary-600: @palette-Blue-Grey-600;
@color-primary-700: @palette-Blue-Grey-700;
@color-primary-800: @palette-Blue-Grey-800;
@color-primary-900: @palette-Blue-Grey-900;
@color-accent-100: @palette-Orange-A100;
@color-accent-200: @palette-Orange-A200;
@color-accent-400: @palette-Orange-A400;
@color-accent-700: @palette-Orange-A700;

@background-color-900: #f5f5f5;
@background-color-850: #fafafa;
@background-color-800: #fff;
@background-color: @background-color-850;
@background-hover: rgba(0, 0, 0, @hover-opacity);
@background-focused: rgba(0, 0, 0, @focused-opacity);
@background-selected: rgba(0, 0, 0, @pressed-opacity);

@button-background: transparent;
@button-background-hover: @button-background;
@button-background-pressed: rgba(153, 153, 153, @pressed-opacity);
@button-background-focused: rgba(0, 0, 0, @focused-opacity);
@button-background-disabled-text: rgba(0, 0, 0, @disabled-opacity);

@raised-button-background-color: @color-primary-500;
@raised-button-background-color-pressed: @color-primary-700;
@raised-button-background-color-focused: darken(@raised-button-background-color, 12%);
@raised-button-text-color: @palette-White-Text;
@raised-button-background-color-disabled: rgba(255, 255, 255, 0.06);
@radio-button-background-color: rgba(0, 0, 0, 0.54);
@radio-button-background-color-selected: @color-accent-200;
@radio-button-background-color-disabled: rgba(0, 0, 0, 0.26);

@check-box-background-color-on: @color-accent-200;
@check-box-background-color-focused: @color-accent-200;
@check-box-background-color-off: rgba(0, 0, 0, 0.54);
@check-box-background-color-disabled: rgba(0, 0, 0, 0.26);

@progress-bar-track-background-color: rgba(0, 0, 0, 0.4);
@progress-bar-bar-background-color: @color-accent-200;

@sidebar-background-color: @color-primary-500;
@sidebar-text-color: @palette-White-Text;
@sidebar-text-active: @palette-White-Text;

@tab-background-color: @color-primary-500;
@tab-background-selected-color: rgba(0, 0, 0, .1);
@tab-underline-color: @color-accent-200;
@tab-text-color: @palette-White-Text;
@tab-text-secondary-color: fade(@tab-text-color, 80%);

@table-row-hover-background-color: rgba(0, 0, 0, @hover-opacity);
@table-row-selected-background-color: rgba(133,133,133, @hover-opacity);

@panel-header-background-color: @color-primary-500;

@menu-bar-background-color: @color-primary-500;
@menu-bar-text-color: @palette-White-Text;

@text-area-highlight-fill: @color-accent-200;
@text-area-highlight-text-fill: @palette-White-Text;

@welcome-view-card-title-background-color: @color-primary-500;
@welcome-view-card-title-text-fill: @palette-White-Text;

@button-blue-color: @palette-Blue-400;

@filterbar-background-color: @background-color-900;
@filterbar-action-bg: darken(white, 30%);
@filterbar-action-bg-focus: darken(white, 50%);
@filterbar-action-bg-pressed: @color-primary-600;

@import "../palette.less";
@import "../common.less";