// out: false

/*******************************************************************************
 *                                                                             *
 * Contractors Tab View   			                                           * 
 *                                                                             *
 ******************************************************************************/
 
#contractors-tab-view {
  -fx-padding: 24;
}

.contractor-details .contractor-details-label {
  -fx-font-size: 12px;
  -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.contractor-details .contractor-details-value {
  -fx-font-size: 13px;
}