// out: false

.welcome-view {
    -fx-background-color: @background-color-900 !important;    

    .header {
        -fx-spacing: 9;

        .label {
            -fx-font-size: 72;
            -fx-font-family: 'Roboto Thin';
        }
    }

    .inputs {
        -fx-padding: 12 60;
        -fx-spacing: 11;

        .label {
            // this looks weird but it makes for an cool effect
            .dims(100, 15);
            -fx-font-size: 11;
            -fx-translate-row: 5;
            -fx-text-fill: @text-color-secondary;
        }
        .combo-box {
            .dims(100, 50);

        }
        .combo-box > .list-cell {
            -fx-padding: 0  0 0 1;
        }
    }

    .credentials {
        -fx-padding: 12 60 12 30 !important;

        .form-group {
            > .label {
                -fx-translate-column: 30 !important;
            }
        }

        .field-wrapper {
            .reset();
            > .label {
                -fx-translate-column: 0;
                -fx-translate-row: 0;
                .dims(30, 40);
                .glyph-icon {
                    -fx-fill: @text-color-secondary;
                }
            }
        }
    }

    .call-to-action {
        -fx-padding: 22;

        .button {
            .dims(250, 40);
            .text {
                -fx-font-size: 18 !important;
            }
        }
    }
}