// out: false

/*******************************************************************************
 *                                                                             *
 * Welcome View   			                                                   *
 *                                                                             *
 ******************************************************************************/

#welcome-view {
  -fx-padding: 24;

  .card {
    .card-title {
      -fx-background-color: @welcome-view-card-title-background-color;
    }

    .card-title .text {
      -fx-fill: @welcome-view-card-title-text-fill;
    }
  }
}
