// out: false

@textFill: white; 
@infoBg: #3F51B5;
@warningBg: #B71C1C;
@defaultBg: #616161;

.badge {
    .margin(7, 6);
    -fx-font-size: 12;
    -fx-text-fill: @textFill !important;
    -fx-background-color: @defaultBg;
}

.badge .text {
    -fx-fill: white !important;
}

.badge.warning {
    -fx-background-color:  @warningBg;
}

.badge.info {
    -fx-background-color:  @infoBg;
}