// out: false

@button-min-width: 88px;
@button-height: 36px;
@button-min-width-dense: 88px;
@button-height-dense: 32px;

@button-padding: 0 16px 0 16px;
@button-corner-radius: 2px;
@button-font-size: 18px;
@button-text-font-size: 14px;
@button-text-font-size-dense: 13px;
@button-icon-text-spacing: 8px;

.button,
.toggle-button {
  -fx-min-width: @button-min-width;
  -fx-min-height: @button-height;
  -fx-max-height: @button-height;
  -fx-background-radius: @button-corner-radius;
  -fx-background-insets: 0;
  -fx-background-color: @button-background;
  -fx-text-fill: @text-color-primary;
  -fx-padding: @button-padding;
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;
  -fx-graphic-text-gap: @button-icon-text-spacing;
  -fx-font-size: @button-font-size;

  &:hover {
    -fx-background-color: @button-background-hover;
  }

  &:focused {
    -fx-background-color: @button-background-focused;
    -fx-background-insets: 0;
    -fx-background-radius: @button-corner-radius;
  }

  &:armed,
  &:selected {
    -fx-background-color: @button-background-pressed;

    .glyph-icon {
      -fx-fill: @text-color-primary;
    }
  }

  &:disabled {
    -fx-opacity: 1;
    -fx-font-fill: @button-background-disabled-text;

    .text {
      -fx-opacity: 1;
      -fx-font-fill: @button-background-disabled-text;
      -fx-fill: @button-background-disabled-text;
    }

    .glyph-icon {
      -fx-fill: @button-background-disabled-text;
    }
  }

  .text {
    -fx-font-family: 'Roboto';
    -fx-font-weight: bold;
    -fx-font-size: @button-text-font-size;
  }

  .glyph-icon {
    -fx-fill: @text-color-primary;
  }

  &.blue {
    -fx-text-fill: @button-blue-color;

    .glyph-icon {
      -fx-fill: @button-blue-color;
    }

    &:focused {
      -fx-background-color: fade(@button-blue-color, @focused-opacity * 100);
    }

    &:armed,
    &:selected {
      -fx-background-color: fade(@button-blue-color, @pressed-opacity * 100);

      .glyph-icon {
        -fx-fill: @button-blue-color;
      }
    }

    &:disabled {
      .glyph-icon {
        -fx-fill: @button-background-disabled-text;
      }
    }
  }
}

.button, .button-raised {
  &.button-raised {
    .text, .icon, .glyph-icon {
      -fx-fill: @raised-button-text-color;
    }

    .elevation-z-1;
    -fx-background-color: @raised-button-background-color;

    &:focused {
      -fx-background-color: @raised-button-background-color-focused;
    }

    &:armed {
      .elevation-z-2;
      -fx-background-color: @raised-button-background-color-pressed;
    }

    &:disabled {
      -fx-background-color: @raised-button-background-color-disabled;
      -fx-effect: null;
      .text, .icon, .glyph-icon {
        -fx-fill: @text-color-disabled;
      }
    }
  }

  &.button-small {
    -fx-min-width: 36px;
  }

  &.dense {
    -fx-min-width: @button-min-width;
    -fx-min-height: @button-height-dense;
    -fx-max-height: @button-height-dense;

    .text {
      -fx-font-size: @button-text-font-size-dense;
    }
  }
}

.game-board {
  .button {
    &.button-game-board {
      -fx-max-height: infinity;
      -fx-max-width: infinity;
      -fx-min-width: 0;

      //-fx-font-size: 90%;
    }
  }

  .label {
    -fx-max-height: infinity;
    -fx-max-width: infinity;
    -fx-alignment: center;
    -fx-min-width: 20;

    //-fx-min-width: 0;
  }
}
