// out: false

.card {
  .elevation-z-1;
  -fx-background-color: @background-color-800;
  -fx-background-radius: 2px;

  .card-title {
    -fx-background-color: @background-color-900;
    -fx-font-size: 13px;
    -fx-padding: 20 16 16 16;

    .label {
      -fx-alignment: center-left;
    }
  }

  .card-title .text {
    -fx-fill: @text-color-primary;
  }

  .card-subtitle {
    -fx-font-size: 14px;
    -fx-padding: 5 0 5 0;
  }

  .card-subtitle .text {
    -fx-fill: @text-color-secondary;
  }

  .separator {
    &:horizontal {
      -fx-padding: 0;
    }
  }

  .card-container {
    -fx-padding: 16;
    -fx-spacing: 16;

    .label {
      -fx-font-size: (@font-size - 2);
      -fx-text-fill: @text-color-secondary;
    }
  }

  .card-button-bar {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-alignment: center-right;
  }

  .tool-bar {
    -fx-background-color: @background-color-800;
    -fx-padding: 0 8 0 8;
  }

  .combo-box {
    &:focused {
      -fx-background-color: @background-color-800;
    }
  }

  .combo-box-popup {
    > .list-view {
      -fx-background-color: @background-color-800;
    }
  }


  .card-header {
    -fx-padding: 12;
    -fx-min-height: 60;
    -fx-alignment: CENTER;

    .card-header-title-container {
      -fx-alignment: CENTER_LEFT;      
    }

    .label {
      -fx-font-size: 16;
      -fx-font-family: 'Roboto Black';
    }

    .card-header-tool-container {
      -fx-alignment: CENTER_RIGHT;
      -fx-spacing: 12;
    }

    .card-header-tool {
      .dims(35, 35);
      -fx-alignment: CENTER;
      -fx-background-radius: 100;
      -fx-cursor: hand;

      &:hover {
        -fx-background-color: @action-bg;
      }

      &:pressed {
        -fx-background-color: @action-bg-pressed;
      }

      .glyph-icon {
        -fx-fill: @text-color-primary;
      }
    }
  }

}
