// out: false

.check-box {
  -fx-text-fill: @text-color-primary;
  -fx-font-weight: normal;
  -fx-label-padding: 0 0 0 4;

  .box {
    -fx-background-color: transparent;
    -fx-padding: 8;
    -fx-background-insets: 0;
    -fx-background-radius: 40;

    .mark {
      -fx-background-insets: 0;
      -fx-padding: 10;
      -fx-background-color: @check-box-background-color-off;
      -fx-shape: "M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z";
    }
  }

  &:indeterminate {
    .box {
      -fx-background-insets: 0;

      .mark {
        -fx-background-insets: 0;
        -fx-padding: 10;
        -fx-scale-shape: true;
        -fx-shape: "M17 13H7v-2h10v2zm2-10H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5c0-1.11-.9-2-2-2m0 2v14H5V5h14z";
      }
    }
  }

  &:selected {
    .box {
      .mark {
        -fx-background-color: @check-box-background-color-on;
        -fx-shape: "M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z";
      }
    }
  }

  &:focused {
    .box {
      -fx-background-color: fade(@check-box-background-color-off, @focused-opacity * 100%);
    }
  }

  &:focused:selected {
    .box {
      -fx-background-color: fade(@check-box-background-color-on, @focused-opacity * 100%);
    }
  }

  &:disabled {
    -fx-opacity: 1;
    -fx-text-fill: @text-color-disabled;

    .box {
      .mark {
        -fx-background-color: @check-box-background-color-disabled;
      }
    }
  }
}