// out: false
@chip-default-bg: rgb(215, 215, 215);
@text-color: rgba(0, 0, 0, 0.86);

.chips {
  // -fx-padding: 0 6;
  -fx-hgap: 2;
  -fx-vgap: 2;
}

.chip {
  -fx-padding: 0 0 0 12;
  -fx-min-height: 32;
  -fx-max-height: 32;
  -fx-alignment: center-left;
  -fx-background-radius: 20;
  -fx-background-color: @chip-default-bg;
  -fx-cursor: hand;
  -fx-font-size: 10px;

  .image-view {
    -fx-max-height: 32 !important;
    -fx-border-color: red;
    -fx-border-width: 0;
  }

  .text {
    -fx-padding: 0 0 0 0;
    -fx-font-size: 13px;
    -fx-text-fill: @text-color;
  }

  .icon-box {
    -fx-padding: 0;

    .close-icon.glyph-icon {
      -fx-fill: darken(@chip-default-bg, 40%);
      -fx-font-size: 24;
    }
  }

  &.chip-deletable {
    -fx-padding: 0 4 0 12;

    .icon-box {
      -fx-padding: 0 0 0 4;
    }
  }

  &:hover {
    -fx-background-color: @color-primary-400;
    -fx-text-fill: @palette-White-Text;

    .icon-box {
      .close-icon {
        &.glyph-icon {
          -fx-fill: @palette-White-Text;
        }
      }
    }
  }
}
