// out: false


.combo-box {
  -fx-background-color: transparent;
  -fx-border-color: @divider-color;
  -fx-border-width: 0 0 2 0;
  -fx-background-radius: 2;
  -fx-border-radius: 0;
  -fx-min-height: 36px;
  -fx-max-height: 36px;

  &:focused {
    -fx-border-color: @color-accent-200;

    > .list-cell {
      -fx-text-fill: @text-color-primary;
    }
  }

  &:showing {
    .elevation-z-1-top;
  }

  > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: @text-color-hint;
    -fx-padding: 0 16 0 16;
    &:focused {
      -fx-text-fill: @text-color-primary;
    }
  }
}

.combo-box-base {
  &:focused {
    > .arrow-button {
      > .arrow {
        -fx-background-color: @text-color-primary;
        -fx-background-insets: 0;
      }
    }
  }

  > .arrow-button {
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-padding: .5em .667em .5em .833333em;
    -fx-background-color: transparent;

    > .arrow {
      -fx-background-color: @text-color-hint;
      -fx-background-insets: 0;
    }
  }
}

/*******************************************************************************
 *                                                                             *
 * Editable ComboBox                                                           *
 *                                                                             *
 * The editable ComboBox TextBox inherits its properties from the TextBox      *
 * Control. Only the properties with values that are different from the        *
 * TextBox are specified here.                                                 *
 *                                                                             *
 ******************************************************************************/

/* -------------- STYLES FOR THE DEFAULT LISTVIEW-BASED COMBOBOX ------------- */

.combo-box-popup {
  -fx-effect: 0;
  -fx-padding: 0;

  > .list-view {
    .elevation-z-1;
    -fx-background-color: @background-color;
    -fx-pref-width: -1;
    -fx-max-width: -1;

    > .virtual-flow {
      > .clipped-container {
        > .sheet {
          > .list-cell {
            &:filled:hover {
              -fx-background-color: @background-hover;
            }

            .label,
            .text {
              -fx-text-fill: @text-color-secondary;
              -fx-font-size: @font-size;
            }
          }
        }
      }
    }
  }
}