// out: false

.context-menu {
  .elevation-z-1;
  -fx-background-color: @background-color;
  -fx-background-radius: 2;
  -fx-padding: 8 0 8 0;
  -fx-background-insets: 0;
  -fx-text-fill: @text-color-primary;

  .separator {
    -fx-padding: 8 0 8 0;

    &:horizontal {
      .line {}
    }
  }

  > .scroll-arrow {
    -fx-background-color: transparent;
    -fx-padding: 8;

    &:hover {
      -fx-background-color: @background-hover;
    }

     > .menu-up-arrow,
    > .menu-down-arrow {
      -fx-padding: 4;
      -fx-background-color: @text-color-primary;
    }
  }
}

.context-menu > .scroll-arrow {
  -fx-background-color: transparent;
}