// out: false

.date-picker-popup {
  .elevation-z-2;

  -fx-min-width: 300px;
  -fx-max-width: 300px;

  -fx-text-fill: @text-color-primary;

  -fx-background-color: @background-color;
  -fx-background-insets: 0;
  -fx-background-radius: 2;
  -fx-alignment: CENTER;
  -fx-spacing: 0;
  -fx-padding: 0;

  > .month-year-pane {
    -fx-padding: 8;
    -fx-background-color: @background-color-800;
    -fx-background-insets: 0;
    -fx-text-fill: @text-color-primary;

    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-spacing: 0;

    -fx-alignment: CENTER;
  }

  > * > .spinner {
    -fx-min-width: 134px;
    -fx-max-width: 134px;

    -fx-spacing: 8;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 14px;
    -fx-padding: 0;

    > .button {
      .button.button-small;
      -fx-background-color: transparent;
      -fx-background-insets: 2;
      -fx-background-radius: 2;

      -fx-min-width: 36px;
      -fx-max-width: 36px;

      &:focused {
        -fx-background-color: @button-background-focused;
      }

      &:hover {
        -fx-color: -fx-hover-base;

         > .right-arrow,
        > .left-arrow {
          -fx-background-color: @text-color-primary;
        }
      }

      &:armed {
        -fx-background-color: @button-background-pressed;
      }

      &:pressed {
        -fx-background-color: @button-background-pressed;

         > .right-arrow,
        > .left-arrow {
          -fx-background-color: @text-color-primary;
        }
      }

       > .right-arrow,
      > .left-arrow {
        -fx-background-color: @text-color-primary;
        -fx-background-insets: 0;
        -fx-padding: 7 4 7 4;
        -fx-effect: null;
        -fx-scale-shape: true;
      }

      > .left-arrow {
        -fx-shape: "M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z";
      }

      > .right-arrow {
        -fx-shape: "M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z";
      }

      > .label {
        -fx-alignment: CENTER;
      }
    }
  }

  > .month-year-pane > .secondary-label {
    -fx-alignment: BASELINE_CENTER;
    -fx-padding: 6 0 0 0;
    -fx-text-fill: #f3622d;
  }

  > .calendar-grid {
    -fx-text-fill: @text-color-primary;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 16;
    -fx-spacing: 0;
  }

  > * > {
    .date-cell {
      -fx-background-color: transparent;
      -fx-background-insets: 0;
      -fx-padding: 0;
      -fx-alignment: BASELINE_CENTER;
      -fx-opacity: 1.0;
      -fx-min-width: 40px;
      -fx-min-height: 40px;
      -fx-max-width: 40px;
      -fx-max-height: 40px;
    }

    .day-name-cell,
    .week-number-cell {
      -fx-text-fill: @text-color-primary;
    }

    .week-number-cell {
      -fx-padding: 8;
      -fx-border-color: transparent;
      -fx-border-width: 0;
      -fx-background-color: transparent;

    }

    .day-cell {
      -fx-padding: 0;
      -fx-border-color: transparent;
      -fx-border-width: 0;
      -fx-font-size: 13px;
      -fx-background-color: transparent;
      -fx-background-insets: 1;
      -fx-text-fill: @text-color-primary;

      > .secondary-text {
        -fx-fill: #f3622d;
      }

      &:hover {
        -fx-background-color: @color-accent-100;
        -fx-background-radius: 40;
        -fx-text-fill: @text-color-secondary;
      }

      &:focused {
        -fx-background-color: @color-accent-200;
        -fx-background-radius: 40;
      }
    }

    .hijrah-day-cell {
      -fx-alignment: TOP_LEFT;
    }

    .today {
      -fx-background-color: transparent;
      -fx-text-fill: @color-accent-200;

      &:hover {
        -fx-background-color: @color-accent-100;
        -fx-background-radius: 40;
        -fx-text-fill: @palette-Black-Text;
      }

      &.selected {
        -fx-background-color: @color-accent-200;
        -fx-background-radius: 40;
        -fx-text-fill: @text-color-primary;
      }

      &:focused {
        -fx-background-color: @color-accent-200;
        -fx-background-radius: 40;
        -fx-text-fill: @text-color-primary;
      }
    }

    .next-month.selected,
    .previous-month.selected {}

    .selected {}
  }

   > * > .selected:focused,
   > * > .today.selected:focused,
   > * > .today:focused:hover,
  > * > .day-cell:focused:hover {
    -fx-background-color: @color-accent-200;
    -fx-background-radius: 40;
  }

   > * > .previous-month,
  > * > .next-month {
    -fx-max-height: 0 !important;
    -fx-cell-size: 0 !important;
    -fx-font-size: 0;
    visibility: hidden;

    -fx-min-height: 0;
    -fx-max-height: 0;
  }

   > * > .next-month > .secondary-text,
   > * > .previous-month > .secondary-text,
   > * > .selected > .secondary-text,
  > * > .day-cell:hover > .secondary-text {
    /*-fx-fill: -fx-text-background-color;*/
  }

   > * > .previous-month.today,
  > * > .next-month.today {
    -fx-background-color: derive(-fx-control-inner-background, -4%), derive(-fx-selection-bar-non-focused, -20%), derive(-fx-control-inner-background, -4%);
  }

   > * > .previous-month.today:hover,
  > * > .next-month.today:hover {
    -fx-background-color: -fx-selection-bar-non-focused, derive(-fx-selection-bar-non-focused, -20%), -fx-selection-bar-non-focused;
  }
}

.date-picker {
  -fx-show-week-numbers: false;
  -fx-text-fill: @text-color-secondary;

  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: @divider-color;

  > .text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;

    &:focused {
      -fx-background-color: transparent;
      -fx-background-insets: 0;
      -fx-background-radius: 0;
      -fx-border-width: 0;
    }
  }

  > .arrow-button {
    -fx-padding: 10;

    > .arrow {
      -fx-shape: "M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z";
      -fx-background-color: @text-color-secondary;
      -fx-background-insets: 0;
      -fx-padding: 8;
      -fx-scale-shape: true;
      -fx-background-radius: 2;
    }

    &:pressed {
      -fx-background-color: @button-background-pressed;
      -fx-background-radius: 2;
    }

    &:focused {
      -fx-background-color: @button-background-focused;
      -fx-background-radius: 2;
    }
  }

  &:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: @color-accent-200;

    .arrow-button {
      -fx-background-color: transparent;
      -fx-background-insets: 0;
      -fx-background-radius: 2;
    }
  }
}