// out: false

.dialog-pane  {

    .header-panel {
        -fx-background-color: @background-color;
    }
    
    .graphic-container {
        .glyph-icon {
            -fx-fill: white;
        }
    }



    .content {

    }

    .button-bar {
        .button {
        }
    }

}