// out: false

#sidebar-control {
  @sidebar-list-cell-border-top: 0;
  @sidebar-list-cell-border-right: 0;
  @sidebar-list-cell-border-bottom: 0;
  @sidebar-list-cell-border-left: 0;
  @sidebar-list-cell-border: @sidebar-list-cell-border-top @sidebar-list-cell-border-right @sidebar-list-cell-border-bottom @sidebar-list-cell-border-left;
  @sidebar-selected-list-cell-border-top: 0;
  @sidebar-selected-list-cell-border-right: 0;
  @sidebar-selected-list-cell-border-bottom: 0;
  @sidebar-selected-list-cell-border-left: 4;
}

.drawer {
  -fx-background-color: @sidebar-background-color;

  .label {
    -fx-font-size: 13px;
    -fx-text-fill: @sidebar-text-color;
  }

  .user-profile {
    -fx-padding: 16 8 16 8;

    .image {
      -fx-min-width: 48px;
      -fx-min-height: 48px;
      -fx-max-width: 48px;
      -fx-max-height: 48px;
      -fx-background-color: @background-color-800;
      -fx-background-radius: 48;
      -fx-border-radius: 48px;
    }

    .email,
    .full-name {
      -fx-padding: 0 8 0 8;
      -fx-text-fill: @sidebar-text-color;
    }

    .email {
      -fx-font-size: 12px;
    }
  }

  .version-box {
    -fx-padding: 0 16 16 16;
    -fx-alignment: center-left;
    -fx-spacing: 4;
  }

  .sidebar {
    #sidebar-control;

    .list-view {
      .text, .glyph-icon, .icon {
        -fx-fill: @sidebar-text-color;
      }
      
      .list-cell {
        &:selected {
          -fx-border-width: 0 0 0 4;
          -fx-border-color: @color-accent-200;
          -fx-padding: 8 16 8 12;

          .label {
            -fx-text-fill: @sidebar-text-color;
          }


          .glyph-icon,
          .text,
          .icon {
            -fx-text-fill: @sidebar-text-color;
            -fx-fill: @sidebar-text-active;
          }
        }
      }
    }
  }
}