// out: false

@bg-color: @filterbar-background-color;
@action-bg: @filterbar-action-bg;
@action-bg-focus: @filterbar-action-bg-focus;
@action-bg-pressed: @filterbar-action-bg-pressed; 

.filter-bar {
    -fx-max-height: 50;
    -fx-padding: 6;
    -fx-background-color: @background-color-800;
    -fx-spacing: 12;
    .no-rounded-borders();
    .elevation-z-2;

    .filter-key {

    }

    .filter-operator {
        -fx-min-width: 80;
    }
    
    .filter-value {

    }

    .filter-action {
        .no-rounded-borders();
        .dims(35, 35);

        -fx-cursor: hand;
        -fx-background-radius: 100;
        
        &:hover, &:focused {
            -fx-effect: null;
            -fx-background-color: @action-bg !important;
        }
        
        &:pressed, &:armed {
            -fx-background-color: @action-bg-pressed !important;
            .elevation-z-3;
            .glyph-icon {
                -fx-fill: white;
            }
        }
    }
}