// out: false

.list-view {
  -fx-background-color: transparent;
  -fx-text-fill: @text-color-secondary;
  -fx-padding: 8 0 8 0;
  -fx-font-size: 18px;

  &:focused {
    -fx-background-insets: 0;
  }

  .list-cell {
    -fx-cell-size: 40px;
    -fx-background-color: transparent;
    -fx-text-fill: @text-color-secondary;
    -fx-padding: 8 16 8 16;
    -fx-graphic-text-gap: 16px;
    -fx-background-insets: 0;

    .content {
      -fx-alignment: center-left;
    }

    .glyph-icon {
      -fx-fill: @text-color-secondary;
    }

    .label {
      -fx-padding: 0 0 0 16;
    }

    .label,
    .text {
      -fx-text-fill: @text-color-secondary;
      -fx-font-size: (@font-size - 1);
    }

    &:selected {
      -fx-background-color: @background-selected;
      -fx-text-fill: @text-color-primary;

      .label {
        -fx-text-fill: @text-color-primary;
      }

      .glyph-icon,
      .icon {
        -fx-text-fill: @text-color-primary;
        -fx-fill: @text-color-primary;
      }
    }

    &:focused {
      -fx-background-color: @background-focused;
    }

    .icon {
      -fx-font-size: 18px;
      -fx-min-width: 18px;
      -fx-min-height: 18px;
      -fx-max-width: 18px;
      -fx-max-height: 18px;
      -fx-text-fill: @text-color-secondary;
      -fx-fill: @text-color-secondary;

      .glyph-icon {
        -fx-text-fill: @text-color-secondary;
        -fx-fill: @text-color-secondary;
      }
    }
  }
}