// out: false

.menu-bar,
.tool-bar {
  -fx-alignment: center-left;
  -fx-text-fill: @text-color-primary;
}

.tool-bar {
  .elevation-z-1;
  -fx-min-height: 48px;
  -fx-background-color: @background-color;
  -fx-padding: 0 24 0 8;

  .container {
    -fx-background-insets: 0;
    -fx-alignment: center-left;

    .button,
    .toggle-button {
      -fx-font-size: 18px;
      -fx-min-width: 36px;
    }

    .glyph-icon {
      -fx-fill: @text-color-secondary;
    }
  }

  .tool-bar-overflow-button {
    -fx-effect: null;
    -fx-padding: 18;
    -fx-background-color: @background-color;

    &:armed {
      -fx-background-color: @button-background-pressed;
    }

    &:hover {
      -fx-background-color: @button-background-pressed;
      -fx-background-radius: 2;
    }

    &:focused {
      -fx-background-color: @button-background-focused;
      -fx-background-radius: 2;
    }

    > .arrow {
      -fx-effect: null;
      -fx-padding: 10px;
      -fx-background-color: @text-color-secondary;
      -fx-background-insets: 4;
      -fx-shape: "M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z";
      -fx-scale-shape: true;
      -fx-border-width: 1;
      -fx-border-color: transparent;
      -fx-border-insets: -8;
    }
  }

  .separator {
    &:vertical {
      -fx-padding: 4 4 4 4;
      -fx-min-height: 36px;
      -fx-max-height: 36px;
    }
  }
}

.menu-bar {
  -fx-background-color: @menu-bar-background-color;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: @divider-color;  

  .menu-button {
    -fx-min-width: -1;
    -fx-font-weight: normal;

    .text {
      -fx-font-weight: normal;      
    }

    &:focused {
      -fx-background-color: @background-focused;
    }

    &:hover,
    &:showing {
      -fx-background-color: @background-hover;
    }

    &.menu {
      -fx-padding: 0 16 0 16;
      -fx-min-height: 40px;
      -fx-max-height: 40px;

      > .label {
        -fx-padding: 0;
        -fx-font-size: (@font-size - 1);
        -fx-text-fill: @menu-bar-text-color;        
      }

      .arrow-button {
        .arrow {
          -fx-padding: 0;
        }
      }
    }
  }
}