// out: false

.menu-button {
  .button;

  .button-raised {
    .button.button-raised;
  }

  -fx-padding: 0 16 0 16;

  .label {
    -fx-padding: 0 8 0 0;
  }

  .arrow-button {
    -fx-padding: 0;
  }

  &:openhorizontally {
    > .arrow-button {
      > .arrow {
        -fx-background-color: @text-color-primary;
        -fx-background-insets: 0;
        -fx-padding: 2 4 2 4;
        -fx-shape: "M10,17L15,12L10,7V17Z";
      }
    }
  }

  &:openvertically {
    > .arrow-button {
      > .arrow {
        -fx-background-color: @text-color-primary;
        -fx-background-insets: 0;
        -fx-padding: 2 4 2 4;
        -fx-shape: "M7,10L12,15L17,10H7Z";
      }
    }
  }
}

.split-menu-button > .arrow-button > .arrow {
  -fx-background-color: @text-color-primary;
  -fx-background-insets: 0 0 -1 0, 0;
  -fx-padding: .25em;
  -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}