// out: false


.menu {
  -fx-background-color: transparent;

  &:show-mnemonics {
    > .mnemonic-underline {
      -fx-stroke: -fx-text-fill;
    }
  }

  :focused {
    > .right-container {
      > .arrow {
        -fx-background-color: @text-color-primary;
      }
    }
  }

  .right-container {
    -fx-background-color: transparent;

    .arrow {
      -fx-opacity: 1;
      -fx-padding: .458em .167em .458em .167em;
      -fx-background-color: @text-color-primary;
      -fx-shape: "M0,-4L4,0L0,4Z";
      -fx-scale-shape: false;
    }
  }
}

.menu-up-arrow {
  -fx-background-color: @text-color-primary;
  -fx-padding: 8 5 0 5;
  -fx-shape: "M0 1 L1 1 L.5 0 Z";
  -fx-effect: null;
}

.menu-down-arrow {
  -fx-background-color: @text-color-primary;
  -fx-padding: 8 5 0 5;
  -fx-shape: "M0 0 L1 0 L.5 1 Z";
  -fx-effect: null;
}



.menu-item {
  -fx-background-color: transparent;
  -fx-min-height: 40px;
  -fx-max-height: 40px;
  -fx-text-fill: @text-color-primary;
  -fx-background-insets: 0;
  -fx-padding: 8 16 8 16;

  .label {
    -fx-padding: 0 16 0 8;
  }

  .left-container {
    -fx-padding: 0 24 0 16;
  }

  > .graphic-container {
    -fx-padding: 0 16 0 0;
  }

  > .graphic-container {
    -fx-font-size: 18px;
  }

  > .label {
    -fx-padding: 0 16 0 0;
    -fx-text-fill: @text-color-primary;
  }

  &:focused {
    -fx-background-color: @background-hover;
    -fx-text-fill: -fx-text-background-color;

    > .label {
      -fx-text-fill: @text-color-primary-bold;
    }
  }

  > .right-container {
    -fx-padding: 0 0 0 16;
  }

  &:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
  }

  .glyph-icon {
    -fx-text-fill: @text-color-primary;
    -fx-fill: @text-color-primary;
  }
}

.radio-menu-item {
  &:checked {
    > .left-container {
      -fx-max-height: 18px;
      -fx-max-width: 18px;

      > .radio {
        -fx-background-color: @text-color-primary;
        -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z";
        -fx-scale-shape: false;
      }
    }
  }
}

.check-menu-item {
  &:checked {
    > .left-container {
      -fx-max-height: 18px;
      -fx-max-width: 18px;

      > .check {
        -fx-background-color: @text-color-primary;
        -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z";
        -fx-scale-shape: false;
      }
    }
  }
}