// out: false

.pagination {
  -fx-padding: 0;
  -fx-arrows-visible: true;
  -fx-tooltip-visible: true;
  -fx-page-information-visible: true;
  -fx-page-information-alignment: left;
  -fx-arrow-button-gap: 4;
  -fx-padding: 0 8 0 8;
}

.pagination > .page {
  -fx-background-color: transparent;
  -fx-alignment: center-right;
}

.pagination > .pagination-control {
  -fx-background-color: transparent;
  -fx-font-size: 13;
  -fx-alignment: center-right;
}

.pagination > .pagination-control > .control-box {
  -fx-padding: 5 0 0 0;
  -fx-spacing: 0;
  -fx-alignment: center-right;
}

.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
  .button.button-small;

  .left-arrow,
  .right-arrow {
    &:disabled {
      -fx-background-color: @button-background-disabled-text;
      -fx-background-insets: 0;
    }
  }
}

.pagination > .pagination-control .left-arrow,
.pagination > .pagination-control .right-arrow {
  -fx-background-color: @text-color-primary;
  -fx-background-insets: 0;
  -fx-padding: 6 4;
  -fx-scale-shape: true;
}

.pagination > .pagination-control .left-arrow {
  -fx-shape: "M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z";
}

.pagination > .pagination-control .right-arrow {
  -fx-shape: "M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z";
}

.pagination > .pagination-control > .control-box > .bullet-button {
  .button.button-small;
}

.pagination > .pagination-control > .control-box > .bullet-button:selected {
  -fx-base: -fx-accent;
}

.pagination.bullet > .pagination-control > .control-box {
  -fx-spacing: 0;
  -fx-alignment: center-left;
}

.pagination.bullet > .pagination-control > .control-box > .left-arrow-button,
.pagination.bullet > .pagination-control > .control-box > .right-arrow-button {
  .button.button-small;

  &:disabled {
    -fx-background-color: @button-background-disabled-text;
  }
}

.pagination > .pagination-control > .control-box > .number-button {
  .button.button-small;
  -fx-min-width: 0;
  -fx-max-width: 0;
  -fx-padding: 0;
  -fx-background-insets: 0;

  .text {
    -fx-padding: 0;
    visibility: hidden;
  }
}

.pagination > .pagination-control > .control-box > .number-button:selected {
  -fx-base: -fx-accent;
}

.pagination > .pagination-control > .page-information {
  -fx-font-size: 13px;
  -fx-text-fill: @text-color-secondary;
  -fx-alignment: center-left;
}
