// out: false

// create a box of the following shape
// .panel <- vbox
//     .panel-header <- hbox
//         .panel-title <- hbox
//         .panel-header-seperator <- hbox, set hgrow to always 
//         .panel-header-toolkit <- hbox 
//              .glyph-icon <- eg. MaterialIconView
//     .panel-body <- whatever you want vbox, hbox. 

.panel {
    .reset();
    .elevation-z-1;
    -fx-background-color: @background-color-800;

    .panel-header {
        -fx-font-size: 20;
        -fx-font-family: 'Roboto Medium';
        -fx-padding: 16 16 16 16;
        -fx-background-color: @panel-header-background-color;
        
        .panel-title {
            .label {
                -fx-font-size: 20;
            }
        }

        .panel-title .text, .glyph-icon {
            -fx-fill: white;
        }
        
        .panel-header-seperator {
            -fx-hgrow: ALWAYS;
        }
        
        .panel-header-toolkit {
            -fx-spacing: 16;
        }
        .glyph-icon {
            -glyph-size: 22 !important;
            -fx-translate-row: 4;
        }
    }

    .panel-body {
        -fx-padding: 10 10 10 10;
    }
}