// out: false

.progress-bar {
  -fx-indeterminate-bar-length: 150;
  -fx-indeterminate-bar-escape: true;
  -fx-indeterminate-bar-flip: false;
  -fx-indeterminate-bar-animation-time: .8;

   > .bar,
  &:indeterminate .bar {
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-background-color: @progress-bar-bar-background-color;
    -fx-background-insets: 0;
    -fx-padding: 2px;
  }

  .track {
    -fx-background-color: @progress-bar-track-background-color;
  }
}

.progress-indicator {
    @size: 70;
    @text: @text-color-primary;
    
    -fx-pref-height: @size;
    -fx-pref-width: @size;

    &:indeterminate .segment{
        -fx-background-color: @progress-bar-bar-background-color;
    }
     &:indeterminate .spinner {
         -fx-padding: 16;
     }

    .determinate-indicator {
        -fx-padding: 12;
        
        .indicator {
            -fx-background-color: @progress-bar-track-background-color;
        }
        .progress {
            -fx-background-color: @progress-bar-bar-background-color;
        }
        .text, .percentage {
            -fx-fill: @text;
        }
        .tick {
            -fx-shape: "M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z";
            .margin(6, 12);
        }
    }
}