// out: false

.radio-button {
  -fx-label-padding: 0 0 0 4;
  -fx-text-fill: @text-color-primary;
  -fx-font-weight: normal;
  -fx-background-color: transparent;
  -fx-padding: 0;

  > .radio {
    -fx-background-color: transparent;
    -fx-padding: 8;
    -fx-background-insets: 0;
    -fx-background-radius: 40;

    > .dot {
      -fx-background-color: @radio-button-background-color;
      -fx-background-radius: 0;
      -fx-padding: 10;
      -fx-shape: "M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z";
      -fx-scale-shape: true;
    }
  }

  &:focused,
  &:selected {
    > .radio {
      > .dot {
        -fx-background-insets: 0;
        -fx-shape: "M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7Z";
      }
    }
  }

  &:focused {
    .radio {
      -fx-background-color: fade(@radio-button-background-color, @focused-opacity * 100%);
    }
  }

  &:focused:selected {
    .radio {
      -fx-background-color: fade(@radio-button-background-color-selected, @focused-opacity * 100%);
    }
  }

  &:selected {
    > .radio {
      > .dot {
        -fx-background-color: @radio-button-background-color-selected;
      }
    }
  }

  &:disabled {
    -fx-opacity: 1;
    -fx-text-fill: @text-color-disabled;

    > .radio {
      > .dot {
        -fx-background-color: @radio-button-background-color-disabled;
      }
    }
  }
}