// out: false

.scroll-bar {
  .track {
    -fx-padding: 0;
    -fx-border-insets: 0;
  }

  &:horizontal,
  &:vertical {
    -fx-padding: 0;
    -fx-background-color: transparent;

    .thumb {
      -fx-background-color: darken(@background-color-800, 4% );
      -fx-background-radius: 0;
      -fx-padding: 0;
      -fx-background-insets: 2;
    }

    &:hover,
    &:pressed {
      .thumb {
        -fx-background-color: @background-color-800;
        -fx-background-radius: 0;
        -fx-padding: 0;
      }
    }

    .track-background {
      -fx-padding: 0;
      -fx-background-insets: 0;
    }

    .track {
      -fx-padding: 0;
      -fx-background-insets: 0;
    }

    .decrement-button,
    .increment-button {
      -fx-padding: 0;
      visibility: collapse;
    }
  }

  &:vertical {
    .decrement-arrow,
    .increment-arrow {
      -fx-padding: 0 5 0 4;
      visibility: collapse;
    }
  }

  &:horizontal {
    .decrement-arrow,
    .increment-arrow {
      -fx-padding: 5 0 4 0;
      visibility: collapse;
    }
  }
}

.virtual-flow {
  .corner {
    visibility: hidden;
    -fx-background-color: transparent;
  }
}