// out: false

.separator {
  &:horizontal,
  &:vertical {
    .line {
      -fx-border-insets: 0;
      -fx-border-color: @divider-color;
    }
  }

  &:horizontal {
    -fx-padding: 16 0 16 0;

    .line {
      -fx-border-width: 1 0 0 0;
    }
  }

  &:vertical {
    -fx-padding: 0 16 0 16;

    .line {
      -fx-border-width: 0 1 0 0;
    }
  }

}