// out: false
.slider {
  -fx-padding: 0;
  -fx-background-insets: 0;

  &:vertical {
    -fx-padding: 0;
  }

  &:pressed {
    > .track {
      -fx-background-color: @color-accent-100;
    }
  }

  > .track {
    -fx-background-color: @progress-bar-track-background-color;
    -fx-background-insets: 2 0;
    -fx-padding: 4 0 4 0;

  }

  > .thumb {
    -fx-background-color: @progress-bar-bar-background-color;

    &:pressed {
      -fx-background-color: @progress-bar-bar-background-color;
      .scale(1.5);
    }
  }

  &:pressed .thumb {
    .scale(1.5);
  }

}