// out: false

.split-pane {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.split-pane:focused {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-background-radius: 0;
}

.split-pane {
  > .split-pane-divider {
    -fx-border-insets: 0;
    -fx-background-color: transparent;

    &:pressed {
      -fx-background-color: @color-accent-200;
    }
  }

  &:horizontal {
    > .split-pane-divider {
      -fx-background-insets: 0 8 0 8;
      -fx-padding: 1 9 1 9;
    }
  }

  &:vertical {
    > .split-pane-divider {
      -fx-background-insets: 8 0 8 0;
      -fx-padding: 1 9 1 9;
    }
  }
}