// out: false

.tab-pane {
  -fx-tab-min-height: 40px;
  -fx-tab-max-height: 40px;
  -fx-padding: 0;

  > .tab-header-area {
    -fx-background-color: @tab-background-color;
    -fx-padding: 0;
    -fx-font-family: 'Roboto';
    -fx-font-weight: bold;

    .menu-item {
      -fx-font-weight: normal;
    }

    > .tab-header-background {
      -fx-background-color: @tab-background-color;
      -fx-padding: 0;

    }

    > .headers-region {
      @tab-drag-indicator-width: 2;

      &:drag-over {
        -fx-border-width: 0 2 0 0;
        -fx-border-color: @tab-underline-color;
      }

      -fx-padding: 0;

      > .tab {
        -fx-background-color: transparent;
        -fx-padding: 0 8 0 16;
        -fx-background-radius: 0;

        &:selected {
          -fx-padding: 0 8 -2 16;
          -fx-background-radius: 0;
          -fx-border-color: @tab-underline-color;
          -fx-border-width: 0 0 2 0;

          > .tab-container {
            > .tab-label {
              -fx-text-fill: @tab-text-color;
            }

            > .tab-close-button {
              -fx-background-color: @tab-text-color;
            }
          }

          .focus-indicator {
            -fx-focus-color: transparent;
            -fx-faint-focus-color: transparent;
            -fx-background-color: @tab-background-selected-color;
            -fx-background-insets: -14 -16 -12 -16;
          }

          &:drag-over {
            -fx-border-width: 0 0 2 @tab-drag-indicator-width;
            -fx-padding: 0 8 -2 (16 - @tab-drag-indicator-width);
          }
        }

        &:drag-over {
          -fx-border-width: 0 0 0 @tab-drag-indicator-width;
          -fx-border-color: @color-accent-200;
          -fx-padding: 0 8 0 (16 - @tab-drag-indicator-width);
        }

        > .tab-container {
          > .tab-close-button {
            -fx-background-color: @tab-text-secondary-color;
            -fx-background-insets: 4;
            -fx-shape: "M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z";
            -fx-scale-shape: true;
          }

          > .tab-label {
            -fx-alignment: CENTER;
            -fx-text-fill: @tab-text-secondary-color;
            -fx-padding: 0 8 0 0;
          }
        }
      }
    }

    > .control-buttons-tab {
      /*-fx-padding: 0 8 0 0;*/

      > .container {
        -fx-padding: 0;

        > .tab-down-button {
          -fx-background-color: @button-background;
          -fx-background-radius: 0;
          -fx-background-insets: 0 16 0 0;
          -fx-padding: 24 8 24 8;
          -fx-background-insets: 0;
          -fx-min-width: 48;
          -fx-pref-height: 48;

          &:hover {
            -fx-background-color: @button-background;

            > .arrow {
              -fx-background-color: @tab-text-color;
            }
          }

          &:pressed {
            -fx-background-color: @button-background-pressed;
          }

          > .arrow {
            -fx-background-color: @tab-text-secondary-color;
            -fx-background-insets: 0;
            -fx-padding: 2 4 2 4;
            -fx-shape: "M7,10L12,15L17,10H7Z";
          }
        }
      }
    }
  }

  > .tab-content-area {
    -fx-background-color: @background-color;

    > * {
      -fx-background-color: @background-color;
    }
  }
}
