// out: false

.table-view {
  -fx-background-color: transparent;
  -fx-font-size: 13px;
  -fx-font-family: 'Roboto Regular';
  -fx-padding: 0;
  -fx-background-insets: 0;

  .column-header-background {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
  }

  .nested-column-header {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-color: @divider-color;
    -fx-border-width: 0 0 1 0;
  }

  .column-header,
  .filler {
    -fx-size: 48;
    -fx-border-style: null;

    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 16 0 0;

    .label {
      -fx-text-fill: @text-color-secondary;
      -fx-padding: 0 16 0 16;
      -fx-font-size: 12px;
      -fx-font-family: 'Roboto Medium';
    }
  }

  > .virtual-flow {
    > .sheet {}
  }

  .show-hide-columns-button {
    -fx-background-color: transparent;
  }

  .column-drag-header,
  .column-header,
  .filler {
    .label {
      -fx-alignment: center-left;
    }
  }

  .column-header {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: @divider-color;
    -fx-border-insets: 10 0 10 0;
  }

  .column-header:last-visible {
    -fx-border-width: 0;
  }

  .table-row-cell {
    -fx-cell-size: 48;
    -fx-background-color: transparent;
    -fx-border-color: @divider-color;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;

    &:hover {
      -fx-background-color: @table-row-hover-background-color;
    }

    &:selected {
      -fx-background-color: @table-row-selected-background-color;
    }
  }

  .table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-text-fill: @text-color-primary;
    -fx-font-family: 'Roboto';
    -fx-alignment: center-left;
    -fx-padding: 0 16 0 16;
    -fx-background-insets: 0;
  }

  /* Header Sort Arrows */
  .arrow {
    -fx-background-color: @text-color-secondary;
    -fx-padding: 6;
    -fx-shape: "M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z";
  }

  /* The column-resize-line is shown when the user is attempting to resize a column. */
  .column-resize-line {
    -fx-background-color: @color-accent-200;
    -fx-padding: 0 1 0 1;
  }

  &.dense {
    .column-header,
    .filler {
      -fx-size: 36;

      -fx-padding: 0 8 0 0;

      .label {
        -fx-padding: 0 8 0 8;
      }
    }

    .table-row-cell {
      -fx-cell-size: 36;
    }

    .table-cell {
      -fx-padding: 0 8 0 8;
    }
  }
}

.table-view .show-hide-column-image,
.tree-table-view .show-hide-column-image {
  -fx-background-color: @text-color-primary;
  -fx-padding: 4px;
  -fx-shape: "M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z";
}

/* This is shown when the table has no rows and/or no columns. */
.table-view .empty-table,
.tree-table-view .empty-table {
  -fx-background-color: white;
  -fx-font-size: 1.166667em;
}

.table-view .column-drag-header,
.tree-table-view .column-drag-header {
  -fx-background-color: fade(@color-accent-200, 40% );
  -fx-border-color: transparent;
  -fx-opacity: 1;

  .label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: @text-color-primary;
  }

}

/* Semi-transparent overlay to indicate the column that is currently being moved */
.table-view .column-overlay,
.tree-table-view .column-overlay {
  -fx-background-color: fade(@color-accent-200, 30% );
  -fx-opacity: 1;
}