// out: false

.text {
  -fx-font-smoothing-type: gray;
}

.text-area,
.text-field {
  -fx-border-insets: 0 0 2 0;
  -fx-background-color: transparent;
  -fx-background-radius: 2.0;
  -fx-padding: 8 0 6 0;
  -fx-border-color: @divider-color;
  -fx-border-width: 0 0 2 0;
  -fx-font-weight: normal;
  -fx-text-fill: @text-color-primary;
  -fx-prompt-text-fill: @text-color-hint;
  -fx-highlight-fill: @text-area-highlight-fill;
  -fx-highlight-text-fill: @text-area-highlight-text-fill;

  &:focused {
    -fx-border-color: @color-accent-200;
  }
}

.text-area .text,
.text-field > * > .text {
  -fx-effect: null;
}

.text-area {
  -fx-padding: 8;

  .scroll-pane {
    -fx-background-color: transparent;
  }

  .viewport {
    -fx-background-color: transparent;
  }

  .content {
    -fx-padding: 8;
    -fx-border-width: .0;
    -fx-background-color: transparent;
  }

  &:focused .content {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
  }
}